@charset "utf-8";

/* reset */	
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;font-size:100%}
button{border:0 none;background-color:transparent;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}

body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'AppleSDGothicNeo-Medium','Apple-Gothic','Malgun Gothic','맑은 고딕','Helvetica', sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */

a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}:;font-style:normal;font-weight:normal

/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/* Background Image - common 요소 */
.btn_comm{background:url() no-repeat} /* 버튼 */
.ico_comm{background:url() no-repeat} /* 아이콘 */
.tit_comm{background:url() no-repeat} /* 타이틀 */
.line_comm{background:url() no-repeat} /* 라인 */


.main_txt{color:#fff;font-size:33px;line-height:35px;margin-bottom:15px}
.main_txt2{margin-bottom:25px}
.point_color{color:#fff600}
.main_txt2{color:#b0dfff}

#kakaoContent .section_search{height:360px;background:url(../images/m320/head_bg.png) repeat-x;text-align:center}
.section_search .sec{padding:55px 0 20px 0}
.search .search_txt{overflow:hidden;margin:0 auto;width:292px;height:44px;border-radius:5px;border:2px solid #0676c1;background:#fff;margin-bottom:8px}
.search .input_st{display:block;width:290px;height:42px;border:none;background:none;padding-left:9px}
.btn_seach{margin:0 auto;width:292px;height:44px;border-radius:5px;border:2px solid #0676c1;background:#015ca1}
.btn_seach .btn_seach_bar{width:292px;height:44px;font-size:16px;color:#fff;line-height:18px;vertical-align:middle}

.referral_code{background:#f4faff;text-align:center}
.wrap_referral{padding:19px 0 29px 0}
.referral_txt{font-size:16px;margin-bottom:7px}
.referral_code .txt_mypeople{color:#808080;margin-bottom:8px}
.referral_code .txt_mypeople .txt_people_und{text-decoration:underline}

.referral_code .mypeople_download{position:relative;margin:0 auto;width:273px;height:93px;background:url(../images/m320/code_bg.png) no-repeat;margin-bottom:30px}
.mypeople_download .txt_mypeople{position:absolute;top:9px;left:29px;text-align:left}
.mypeople_download .tit_durl{background:#fff600;color:#0e7fe1;font-size:11px;padding:5px 5px}

.tit_mycode{font-size:16px}
.my_code .code_se{font-size:20px;color:#0e94f0;text-decoration:underline;}
.my_code .txt_last{font-size:11px}

/* btn */
.btn_colse{width:100%;position:relative;top:0px;height:46px;background:url(../images/m320/wrap_btn_bg.png) repeat-x;text-align:center}
.btn_colse .btn_se{position:absolute;top:6px;left:3px;width:43px;height:31px;border:1px solid #c3c5ca;border-radius:5px}
.btn_colse .tit_colse{font-size:18px;line-height:46px}

@media
 only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
  .referral_code .mypeople_download { background-image: url(../images/m640/code_bg.png); -webkit-background-size: 273px 93px;  background-size: 273px 93px;}
}


