@charset "utf-8";
/* reset */
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

body,button,input,select,table,textarea {
    font-family: 'Malgun Gothic','맑은 고딕',-apple-system,BlinkMacSystemFont,helvetica,'Apple SD Gothic Neo',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    line-height: inherit
}

textarea {
    word-wrap: break-word;
    word-break: keep-all;
    border: 0;
    background-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

button,input {
    border: 0;
    border-radius: 0
}

button {
    background-color: transparent
}

fieldset,img {
    border: 0
}

img {
    vertical-align: top
}

ol,ul {
    list-style: none
}

address,em {
    font-style: normal
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    text-decoration: underline
}

iframe {
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0
}

mark {
    background-color: transparent
}

i {
    font-style: normal
}


/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} 
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;text-indent:-9999px} 
.ir_wa{display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} 
.caption_hide{overflow:hidden;width:1px;height:0.1px;font-size:0px;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* skipNavigation */
#skipNav{position:fixed;top:0;left:0;width:100%;z-index:500}
#skipNav a{display:block;height:0;font-size:0;width:0}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{display:block;padding:9px 0;height:16px;width:100%;text-align:center;background:#f2f2f2;text-align:center;font-size:12px;color:#000;font-weight:bold}

