@charset "utf-8";

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(/common/font/NanumGothic-Regular.eot);
  src: url(/common/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-Regular.woff2) format('woff2'),
       url(/common/font/NanumGothic-Regular.woff) format('woff'),
       url(/common/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(/common/font/NanumGothic-Bold.eot);
  src: url(/common/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-Bold.woff2) format('woff2'),
       url(/common/font/NanumGothic-Bold.woff) format('woff'),
       url(/common/font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(/common/font/NanumGothic-ExtraBold.eot);
  src: url(/common/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(/common/font/NanumGothic-ExtraBold.woff) format('woff'),
       url(/common/font/NanumGothic-ExtraBold.ttf) format('truetype');
}

body{margin:0;padding:0;font-family:'Nanum Gothic',나눔고딕,'돋음',Dotum,verdana,AppleGothic,sans-serif;font-weight:400;font-size:13px;line-height:18px;color:#666}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select{margin:0;padding:0;border:none}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
ul,ol,dl,dt,dd,li{list-style:none}
fieldset,img{border:0;vertical-align:middle}
address,em{font-style:normal}
table{border-collapse:collapse;width:100%}
a{color:#000;text-decoration:none}
caption,legend{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
input,textarea,select{border:0;background:none;vertical-align:middle}
button{cursor:pointer}
.blind,hr,legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap}

/* skipNavigation */
#skipNav{position:fixed;top:0;left:0;width:100%;z-index:500}
#skipNav a{display:block;height:0;font-size:0;width:0}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{display:block;padding:9px 0;height:16px;width:100%;text-align:center;background:#f2f2f2;text-align:center;font-size:12px;color:#000;font-weight:bold}

/* 공통 */
.b{font-weight:bold !important}
.nf{font-weight:normal !important}
.nbt{border-top:none !important}
.nbr{border-right:none !important}
.nbb{border-bottom:none !important}
.nbl{border-left:none !important}

/*정렬클래스*/
.of{overflow:hidden !important}
.fl{float:left !important}
.fr{float:right !important} 
.cl{clear:both !important}
.lft{text-align:left !important}
.rgt{text-align:right !important}
.cnt{text-align:center !important}
.at{vertical-align:top !important}
.am{vertical-align:middle !important}
.ab{vertical-align:bottom !important}
.dis_b{display:block}
.dis_n{display:none}


/*마진,패딩 클래스*/
.mt0{margin-top:0 !important}
.mt05{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mb0{margin-bottom:0px !important}
.mb05{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.ml0{margin-left:0 !important}
.ml05{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.mr0{margin-right:0 !important}
.mr05{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.pt0{padding-top:0 !important}
.pt05{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pb0{padding-bottom:0 !important}
.pb05{padding-bottom:5px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pl0{padding-left:0px !important}
.pl05{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pr0{padding-right:0 !important}
.pr05{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
