@charset "utf-8";

/*table layout*/
.table .border-right{border-right:0}
.table .item{padding:20px 20px}


.header{position:fixed;top:0;left:0;width:100px;background:#fff;padding:30px 20px;}
.header h1{font-size:20px;line-height:25px}
.header h1 a{color:#586069}
.header ul{overflow:hidden;margin-top:15px}
.header ul li{font-size:13px}
.header ul li a{display:block;color:#586069;font-family:ngb}
.header ul li a:hover{color:#000;}
.contents{min-height:1024px;padding:30px 30px 30px 140px}
.contents ul li{padding:20px 20px;font-size:20px}
.table{width:100%;border-collapse:collapse;border-spacing:0;border-top:1px solid #c8e1ff}
.table tr,.table th,.table td{border-bottom:1px solid #eaecef}
.table th{padding:15px 10px;background:#f1f8ff;border-left:1px solid #c8e1ff;border-right:1px solid #c8e1ff;border-bottom:1px solid #c8e1ff}
.table td{;border-right:1px solid #eaecef;text-align:center;padding:10px 10px}
.table tr a{display:block}
.table tr a:hover{color:#9d9d9d;text-decoration:underline}
.table span{font-size:11px;color:#e43c3c}

.table td.border_r{border-right:none}
.table .text_l{text-align:left}

/*mobile*/
.m_header{width:100%;height:35px;background:red;text-align:center;padding-top:15px;}
.m_header h1{color:#fff;font-size:20px;font-width:bold;}
.m_content {width:100%;height:500px;background:blue;padding-top:100px;background:url(/common/image/img_main01.jpg) no-repeat;background-size:cover}
.m_content ul li{float:left;width:50%;box-sizing:border-box;}
.m_content  li a{display:block;margin:0 5px 10px;text-align:center;padding:80px 0 15px;background:url(/common/image/icon_menu01.png) no-repeat center 15px rgba(255,255,255,0.8);background-size:50px;}


