@charset "utf-8";

/*table layout*/
.table .border-right{border-right:0}


.header{height:40px;background:#222;padding:30px 20px}
.header h1{float:left;width:400px;color:#9d9d9d;font-size:30px;line-height:30px}
.header h1 a{color:#fff}
.header ul{line-height:30px}
.header ul li{float:left;margin-left:35px;font-size:18px}
.header ul li a{display:block;color:#9d9d9d;font-family:ngb}
.header ul li a:hover{color:#fff;}
.contents{margin:0 auto;min-height:1024px;padding:30px 30px}
.contents ul li{padding:20px 20px;font-size:20px}
.table{width:100%;border-style:solid none solid;border-width:3px 0 1px}
.table th{padding:15px 0;background:#f5f5f5;border-color:#d6d6d6;border-style:none solid solid none;border-width:0 1px 1px 0}
.table tr,.table th,.table td{border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#d6d6d6}
.table th{padding:15px 0;background:#f5f5f5;}
.table td{text-align:center;padding:10px 0}
.table tr a{display:block}
.table tr a:hover{color:#9d9d9d;text-decoration:underline}
.table span{font-size:11px;color:#e43c3c}

.border_r{border-right:none}
.text_l{text-align:left}

/*mobile*/
.m_header{width:100%;height:35px;background:red;text-align:center;padding-top:15px;}
.m_header h1{color:#fff;font-size:20px;font-width:bold;}
.m_content {width:100%;height:500px;background:blue;padding-top:100px;background:url(/common/image/img_main01.jpg) no-repeat;background-size:cover}
.m_content ul{}
.m_content ul li{float:left;width:50%;box-sizing:border-box;}
.m_content  li a{display:block;margin:0 5px 10px;text-align:center;padding:80px 0 15px;background:url(/common/image/icon_menu01.png) no-repeat center 15px rgba(255,255,255,0.8);background-size:50px;}


