/*visual*/





/*container*/


#container{margin:auto;width:100%;height:100%;background:url(../images/con_bg.jpg) repeat-x}
#container:after{content: "";display: block;clear: both}
.contents:after{content: "";display: block;clear: both}
.contents{width:1000px;height:100%;margin:auto}

/*서치*/
.search_form{width:1000px;height:60px}
.main_search{float:left}
.main_search_menu{float: left;margin:20px 0 0 70px}
.main_search_menu li{float:left}
.main_search_menu label{color:#fff}
.main_search_input{width:350px;height:33px;margin-left:90px}
.main_search_input,.btn_search{vertical-align: middle;margin-top:10px}
.btn_search{margin-left:-10px}
/*컨테츠 바텀*/  
.con_bt{width:1000px;height:324px;padding-top:50px}
.more{position: absolute;top:0;right:0}
.tite{font-size:15px;margin-bottom:25px}

.con_bt dt.tab_txt{margin-bottom:25px}
.con_bt dt.tab_txt a{font-size:15px;}
.con_bt dd.go{margin-top:20px;color:#8e8e8e}
.con_bt dd.story{color:#8e8e8e}
/*컨텐츠 왼쪽*/
.con_left{width:304px;height:276px;float: left}
.news_tab{width:304px;height:138px;position: relative}
.news_tab dt{float:left}
.news_tab dd{float:left;margin-left:8px}

.bbs_left{width:304px;height:138px;background:url(../images/con_bt_s.jpg) no-repeat;padding-top:20px}
.bbs_left li{padding:5px 0 5px 0;}
.bbs_left li:hover{text-decoration: underline}
.bbs_left span{float: right;color:#8e8e8e}
/*컨텐츠 가운데*/
.con_center{width:304px;height:276px;float: left;margin:0 44px}
.center_tab_1{width:304px;height:138px;position: relative;background:url(../images/center_tab_1.jpg) no-repeat right 100%}
.center_tab_2{width:304px;height:138px;position: relative;background:url(../images/center_tab_1.jpg) no-repeat right 100%;background:url(../images/con_bt_s.jpg) no-repeat;padding-top:20px}

/*컨텐츠 오른쪽*/
.con_bbs{width:304px;height:276px;float: left}
/*탭메뉴*/
.tabmenu_1{width:304px;height:138px;position: relative}
.tabmain{position: relative}
.t_smenu{float:left;width:98px;text-align: center;border:1px solid #cbcbcb;margin-right:1px;}
.tab_sub{position: absolute;top:30px;left:10px}

.tab_sub li{text-align:left;width:280px;margin-bottom:7px}
.tab_sub li span{float:right;color:#8e8e8e}
.tab_sub li a:hover{text-decoration: underline}

.bbs_tab_2{width:304px;height:138px}

.tabon{width:100px;background:#e42025;display: block;color:#fff}



