@charset "UTF-8";
/* reset */body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:'none'}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:'none'}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333}
a{color:#333;text-decoration:none}
a:active,a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}


/* Background Image */
.head_comm{display:block;background:url(../images/head.png) no-repeat 0 0;text-align:center;line-height:40px}
.ico_comm{display:block;overflow:hidden;background:url(../images/ico_comm.png) no-repeat;text-indent:-9999px}
.num_comm{display:block;overflow:hidden;background:url(../images/num_comm.png) no-repeat;text-indent:-9999px}

.wrap_main{width:964px;margin:0 auto}
.head_wrap{overflow:hidden;width:964px}
.head_wrap .inner_head{position:relative;height:31px;padding:18px 0}
.cont_wrap{overflow:hidden}
.foot_wrap{overflow:hidden;width:964px}



.inner_head .kakaologo{float:left;}
.kakaologo .link_logo{float:left;width:62px;height:26px;background-position:0 0;margin :3px 10px 0 10px}
.kakaologo .link_shopping{float:left;width:69px;height:25px;background-position:-75px 0;margin:3px 10px 0 0}

.inner_head .search_bar{float:left}
.head_wrap .search_bar{float:left;width:396px;height:31px}
.search_bar .input_wrap{float:left;width:264px;height:31px;background-position:-150px 0;margin-right:5px}
.search_bar .search_st{width:255px;height:31px;border:none;background:none;padding-left:10px;margin-top:-7px}
.search_bar .btn_search{float:left;width:74px;height:31px;background-position:-425px 0;margin-right:8px}
.search_bar .btn_allsearch{float:left;width:43px;height:15px;background-position:0 -50px;margin-top:10px}
.inner_head .side_menu{position:absolute;top:30px;right:15px}
.side_menu .btn_how{overflow:hidden;float:left;width:50px;height:15px;background-position:-50px -50px;text-indent:-9999px;margin-right:20px}
.side_menu .btn_soho{overflow:hidden;float:left;width:49px;height:15px;background-position:-125px -50px;text-indent:-9999px}

.wrap_main .gnb_wrap{width:964px;height:40px}
.gnb_wrap .list_gnb{width:964px;height:40px;background-position:0 -75px}
.list_gnb li{float:left}
.list_gnb .link_home{width:120px;height:40px;background-position:0 -75px}
.list_gnb .link_guidance{width:120px;height:40px;background-position:-120px  -75px}
.list_gnb .link_alliance{width:120px;height:40px;background-position:-241px -75px;margin-right:472px}
.list_gnb .link_faq{width:57px;height:40px;background-position:-832px -75px}
.list_gnb .link_question{width:57px;height:40px;background-position:-889px -75px}

.bg_shopping{width:964px;height:476px;background:url(../images/bg_info.png) no-repeat}
.inner_info{position:relative}
.inner_event1 .link_view{width:83px;height:19px;position:absolute;top:46px;left:308px;overflow:hidden;text-indent:-9999px;line-height:0;font-size:0}
.inner_info .link_login{width:404px;height:398px;position:absolute;top:44px;right:0;overflow:hidden;text-indent:-9999px;line-height:0;font-size:0}

.bg_event1{width:964px;height:248px;background:url(../images/bg_event1.png) no-repeat}
.inner_event1{position:relative;width:964px;height:248px;}
.inner_event1 .link_quiz{position:absolute;top:115px;left:84px;width:301px;height:69px;overflow:hidden;text-indent:-9999px;line-height:0;font-size:0}
.inner_event1 .iphonewon{position:absolute;bottom:46px;right:59px;width:455px;height:103px}
.iphonewon .num{font-size:22px;font-weight:bold;color:#fff}
.iphonewon .num1{float:left;width:25px;height:31px;background-position:0 0}
.iphonewon .num0{float:left;width:25px;height:31px;background-position:-30px 0}
.iphonewon .num2{float:left;width:25px;height:31px;background-position:-60px 0}
.box_month{position:absolute;top:4px;left:200px;width:132px;height:31px}
.box_day{position:absolute;top:4px;left:279px;width:132px;height:31px}
.iphonewon .info_name{position:absolute;top:51px;left:91px}
.info_name .txt_name{overflow:hidden;display:block;float:left;width:135px;font-size:14px;font-weight:bold}
.info_name .txt_sir{float:left;padding-top:2px}
.info_name .txt_bar{float:left;padding:0 5px}

.event_badge{margin:0 auto;background:url(../images/bg_badge1.png) no-repeat;width:827px;height:400px;padding-top:26px}
.event_badge .list_badge li{float:left}
.badge_tit .tit_thumb{display:block}
.badge_click{background:url(../images/bg_badge3.png) no-repeat}
.badge_click .list_badge{margin:0 auto;width:523px}



.bg_event2{width:964px;height:348px;background:url(../images/bg_event2.png) no-repeat}

.inner_silde{overflow:hidden;position:relative;height:287px;background:url(../images/bg_silde.png) no-repeat}
.list_recom{overflow:hidden;position:absolute;;top:70px;left:87px}
.list_recom li{margin-right:10px;float:left}
.list_recom .box_recom{width:150px;height:195px;background:url(../images/silde_box.png) no-repeat;padding:7px 0 0 6px}
.box_recom .link_thumb{display:block;width:134px;height:78px}
.box_recom .tit_txt{display:block;float:left;margin:6px 6px 6px 0}
.box_recom .icon_new{float:left;width:12px;height:11px;background-position:0 0;margin-top:8px}
.box_recom .txt_info{clear:both;color:#999}
.box_recom .info_date{font-size:11px;color:#999}
.box_recom .btn_join{width:59px;height:24px;background-position:-20px 0}
.inner_silde .link_prev{display:block;width:30px;height:156px;position:absolute;top:89px;left:56px}
.inner_silde .btn_prev{width:17px;height:79px;background-position:0 -30px;position:absolute;top:36%}
.inner_silde .link_next{display:block;width:30px;height:156px;position:absolute;right:56px;top:89px}
.inner_silde .btn_next{width:17px;height:79px;background-position:-20px -30px;position:absolute;top:36%}

.badge_click{height:113px;padding-top:55px}

.foot_wrap .bg_foot{overflow:hidden;width:964px;height:180px;background:url(../images/bg_foot.png) no-repeat;text-indent:-9999px}
