#container{width:1000px;height:100%;margin:0 auto;}
.conmenu{float:left;width:207px;background:#f9faed;border-right:1px solid #e1e1e1;border-left:1px solid #e1e1e1;box-sizing:border-box}
.conmenu h3{width:207px;height:100px}
.conmenu ul li{width:192px;height:30px;border-bottom:1px solid #e1e1e1;
padding-left:15px}
.conmenu ul li.bn{border:none}
.conmenu ul li a{display:block;font-size:15px;line-height:30px;
color:#818f0c}
.contents{float:left;width:743px;height:100%;
padding-left:50px;}
.indicator ul{float:right}
.indicator ul li{float:left;margin-right:3px}
.indicator ul li a{font-size:11px;color:#898989}
.indititle{width:743px;height:150px;padding-top:38px}
.indititle h3{font-family: 'NanumGBold';color:#c1d60f;font-size:30px}
.indititle p{color:#898989;font-family: 'NanumGBold';margin-top:10px}
