/*헤더부분*/
#headerwrap{width:100%;height:118px;margin:0 auto;background:url(../img/heaerBg.png) repeat-x 100% 0;}
#header{width:1040px;height:121px;margin:0 auto}
#header h1{width:88px;height:58px;padding:46px 0 0 41px;float:left;}

/*네비게이션*/
#nav{width:910px;height:58px;float:left;}

.nav_txt li{margin-left:84px}
.nav_txt li a{font-size:16px}
.nav_txt{float:left;padding:40px 0 0 20px}
.nav_txt li{float:left}

/*탑메뉴*/
.topmenu{float:right;margin-top:12px}
.topmenu ul li{float:left;background:url(../img/topmenubg.png) no-repeat 0 50% ;margin-left:13px;padding-left:13px;}
.topmenu ul li.top_bg{background:none}
.topmenu ul li a{font-size:10px;}


#container:after{content: "";display: block;clear: both}
#container{background:url(../img/visBg.png) repeat-x}
#contents:after{content: "";display: block;clear: both}
#contents {position:relative; width:1040px; height:528px; margin:0 auto}


.mainSlide {position:absolute; top:0px;right:0px;width:858px;height:480px;background:url(../img/vis.png) no-repeat}
.humanBg {position:absolute; top:32px; right:32px;background:green;width:291px;height:502px;background:url(../img/humanBg.png) no-repeat}

/*오른쪽메뉴*/
.mainContentsLeft {position:absolute; top:0px; left:0px;width:290px;height:528px}

.mainContentsLeft h2{font-size:33px;font-family:"nanumB";letter-spacing: -2px;line-height:120%;padding:20px 0 0 20px}
.mainContentsLeft p{font-size:13px;font-family:"nanumB";}

.contentsL_1{width:240px;height:78px;margin-top:58px}
.contentsL_1 dt{float:left}
.contentsL_1 dl dd.txt{font-size:14px;font-family:"nanumB";}
.contentsL_1 dl dd.like{width:145px;font-size:12px;float:left}


.contentsL_2{width:240px;height:78px;margin:39px 0 39px 0}
.contentsL_2 dt{float:left}
.contentsL_2 dl dd.txt{font-size:14px;font-family:"nanumB";}
.contentsL_2 dl dd.like{width:145px;font-size:12px;float:left}


.contentsL_3{width:334px;height:78px;}
.contentsL_3 dt{float:left}
.contentsL_3 dl dd.txt{font-size:14px;font-family:"nanumB";}
.contentsL_3 dl dd.like{width:223px;font-size:12px;float:left}


/*비쥬얼아이콘*/
.mainContentsicon {position:absolute;bottom:61px;right:300px;}
.mainContentsicon li{float:left;margin-left:13px;width:53px;height:74px}
.mainContentsicon li.icon_last{margin-left:10px}

/*게시판*/
.news{float:left;width:263px;height:125px;position:relative;padding-top:24px}
.news h4{margin-bottom:3px;font-size:14px;font-family:"nanumB";}
.news p.more{position:absolute;top:25px;left:65px;}
.news .news_list li{margin-bottom:3px}
.news .news_list li a{}
.news .news_list span{float:right}


/*아래컨텐츠*/
#container_bt:after{content: "";display: block;clear: both}
#container_bt{margin:0 auto;width:100%;height:100%}
#contents_bt{margin:0 auto;width:1040px;height:125px}

ul.con_list li{float:left;width:217px;margin:27px 0 0 10px}

#footerwrap{width:100%;height:100%;background:url(../img/footerBg.png) repeat-x}
#footer{width:1040px;height:125px;margin:0 auto}
#footer:after{content: "";display: block;clear: both}
#footer h4{width:88px;height:57px;float:left;margin:28px 0 0 44px}


.footer_menu{width:600px;height:10px;float:left;padding:28px 0 0 79px}
.ftxt{float:left;width:600px;margin-bottom:20px}
.ftxt li{float:left;padding-left:9px;margin-right:9px;background:url(../img/footer_menu.png) no-repeat 0 50%}
.ftxt li.ftxt_1{background:none;padding-left:0px}


.ftxt_b{float:left;width:674px;}
.ftxt_b li{float:left;margin-left:7px}
.ftxt_b li.ftxt_3{margin-left:0px}
.ftxt_b p{float:left;color:#fff}



		