#container{width:100%;height:100%}
#container:after{content: "";display: block;clear: both}

#contents{width:1000px;height:100%;margin:auto;position:relative;padding-top:10px}
.sub_menu{width:219px;height:100%;float:left;min-height:890px;}
.sub_contents{width:739px;height:100%;float:left;min-height:890px;margin-left:42px}
.wing{position:absolute;right:0;top:0}
h3.sub_title{font:20px 'nanumB';width:204px;height:50px;border-bottom:3px solid #666666;
padding-top:30px;color:#4d4d4d;padding-left:15px;}



.submenu{}
.m_title a.title_txt{font-size:15px;border-bottom:1px solid #cfcfcf;display:block;padding:15px 0px 15px 0px;
color:#4d4d4d;padding-left:20px;background:url(../images/sub1_1/anchor.jpg) no-repeat 90% 45%;
text-transform:uppercase}
.m_title{}

.sub_s{display:none;padding-top:10px;border-bottom:1px solid #cfcfcf;}
.sub_s li{margin-bottom:10px}
.sub_s li a{color:#666666;padding-left:20px;background:url(../images/sub1_1/sub_ticon.jpg) no-repeat 3px 55%;
text-transform:uppercase}

/*active*/
.mainnav .nav_title a.gnb_active{color:#184d8f}
.sub_s li.active_tt a{font-family:"nanumB";}


/*menu end*/
.title_sec{width:739px;height:50px;border-bottom:1px solid #cfcfcf;padding-top:30px}
.title_sec h3{float:left;font:20px 'nanumB';color:#4d4d4d;width:120px;height:20px}
.title_sec .indicator{float:right}
.title_sec p{color:#6E6E6E;margin:28px 0 0 0;font-size:12px;}

.indicator li{float:left;}
.indicator li a{display:block;padding-right:15px;background:url(../images/sub1_1/anchor_r.jpg) no-repeat 90% 50%}
.indicator li a.indimn{padding-right:0px;background:none}

