.con_1 p.organi_bg{width:628px;height:515px;margin:0 0 38px 43px}

table.data {border-top:2px solid #042F8D; border-bottom:1px solid #042F8D;margin-bottom:50px}
table.data tr th,tbody tr td {height:16px;padding:5px;border:1px solid #c9c9c9 !important;font-size:12px;font-family:"nanum";}
table.data thead tr th {background:#F4F7F9; border:1px solid #b9d0d7 !important; color:#1F7888; border-bottom:none}
table.data tbody th {background:#fbfbfb;font-size:12px;vertical-align: middle;font-family:"nanumB";}
table.data tbody th.normal {font-size:11px;text-align:left;font-weight:normal;background:#ffffff}
table.data tbody th.normal_center {font-size:11px;text-align:center;font-weight:normal;background:#ffffff}
table.data tbody td.yellow {background:#FFFDD5}
table.data tbody td.blue {background:#E9F6FF}