/*skip*/
.skip{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0}
.skip:hover,
.skip:active,
.skip:focus{width:100%;height:auto;margin:0;padding:5px 0;font-weight:bold;font-size:12px;font-family:Tahoma;color:#fff;line-height:1;text-decoration:none !important;text-indent:10px;background:#333;text-align:center}


#header{width:206px;height:100%;min-height:1000px;
float:left;background:#71b200;position:fixed;left:0;top:0;z-index:30;
border-left:1px solid #71b200;
border-right:1px solid #71b200}
.logo{width:206px;height:136px;background:#fff;
padding-top:28px}
.logo h1{margin-bottom:28px}
.logo .t_menu{margin-left:37px}

.logo .t_menu li{float:left;margin-right:15px}
.logo .t_menu li a{text-transform:uppercase;
font-size:11px;color:#363636}

.main_nav{width:206px;height:243px}
.main_nav .gnb{}
.main_nav .gnb li{height:49px;
background:url(../images/layout/gnb_line.jpg) no-repeat 55% 100%;
text-align:center}
.main_nav .gnb li a{display:block;
font:16px/47px 'NanumGBold';color:#fff}

.brochure{height:80px}
.brochure dl.brochure_mn{width:172px;height:76px;
background:#609701;
margin:18px 0 0 18px}
.brochure dl.brochure_mn dt{float:left;
width:85px;height:56px;border-right:1px dashed #858585;color:#fff;text-align:center;
padding-top:20px}
.brochure dl.brochure_mn dd.korean{padding-top:15px;margin-bottom:10px}
.brochure dl.brochure_mn dd a{margin-left:18px}
.brochure dl.brochure_mn dd a{color:#fff;text-transform:uppercase}

.headerfoot{margin-left:18px}
.headerfoot dl.sns{margin-bottom:10px;margin-left:3px}
.headerfoot dl.sns dd{float:left;margin-right:6px}
.headerfoot dl.sns dd a{color:#fff;text-transform:uppercase}

.ad_copy{}
.ad_copy address{margin-bottom:5px}


#container{width:100%;height:100%;
position:relative;}
#container .vis img{width:100%;height:100%}
#contents{width:500px;height:244px;position:fixed;left:210px;top:164px;background:rgba(255,255,255,0.9)}
#contents .accordian{position:relative;width:500px;height:251px}
#contents .accordian h5{font:16px 'NanumGBold';margin:10px 0 0 0;padding:0 0 10px 10px;border-bottom:1px solid #71B200}
#contents .accordian dl.ac_menu{}
#contents .accordian dl.ac_menu dt.ac_title{background:#fff;height:25px;
border-bottom:1px solid #609701;padding-top:5px;color:#3B5605;
padding-left:10px}
#contents .accordian dl.ac_menu dt.ac_title span{float:right;
display:block;padding-right:10px;}
#contents .accordian dl.ac_menu dd.ac_con{background:orange;display:none;
height:79px;border-bottom:1px solid #609701;}  



#contents .accordian p.ac_more{position:absolute;right:5px;top:0;padding-right:10px;
background:url(../images/main/plus_bt.jpg) no-repeat 100% 55%}


.top_notice{position:fixed;left:210px;top:15px;background:rgba(255,255,255,0.9);width:500px;height:46px}
.top_notice h4{float:left;text-align:center;width:80px;height:18px;padding:14px 0;
font:16px 'NanumGBold';border-right:1px solid #71B200}
.top_notice .noticewrap{float:left;overflow:hidden;width:320px;height:20px;margin-top:13px;
margin-left:13px;position:relative;} 

.top_notice .noticewrap ul.notice_ct li span{float:right;}
.top_notice .noticewrap ul.notice_ct{position:absolute;left:0;top:0;width:312px;}

/* button 영역 */
ul.notice_bt{float:right;margin-top:13px;margin-right:5px}
ul.notice_bt li{float:left;margin-left:5px}






.wing{width:400px;height:100%;position:fixed;right:0;top:0;z-index:20}
.wing:after{content:"";display:block;clear:both}
.wing_left{width:245px;height:100%;background:#2d2d2d;float:left}
.wleft{width:245px;height:100%}

.wleft li.wingbox{text-align:center;position:relative}
.wleft li.wingbox dl{position:absolute;top:30%;left:25%;}
.wleft li.wingbox dl dt{margin-bottom:3px}
.wleft li.wingbox dl dt a{font:14px  'NanumGBold';color:#fff;display:block;padding-top:30px}
.wleft li.wingbox dl dd{color:#fff}
.wleft li.wingbox dl dd span{display:block}
ul.wleft li.wleft_01{width:245px;height:25%;background:#2d2d2d}
ul.wleft li.wleft_02{width:245px;height:25%;background:#333333}
ul.wleft li.wleft_03{width:245px;height:25%;background:#2d2d2d}
ul.wleft li.wleft_04{width:245px;height:25%;background:#333333}

ul.wleft li.wleft_01 dl{background:url(../images/main/wing_bg01.jpg) no-repeat 50% -5%;}
ul.wleft li.wleft_02 dl{background:url(../images/main/wing_bg02.jpg) no-repeat 50% 0%;}
ul.wleft li.wleft_03 dl{background:url(../images/main/wing_bg03.jpg) no-repeat 50% -5%;}
ul.wleft li.wleft_04 dl{background:url(../images/main/wing_bg04.jpg) no-repeat 50% -5%;}

.wing_right{width:155px;height:100%;background:#71b200;float:left}
.wright{width:155px;height:100%}
ul.wright li.wright_01{width:155px;height:50%;background:#f1b32f;position:relative}
ul.wright li.wright_02{width:155px;height:25%;background:#71b200;position:relative}
ul.wright li.wright_03{width:155px;height:25%;background:#609701;position:relative}

ul.wright li.wright_01 dl{position:absolute;left:5%;top:20%;}
ul.wright li.wright_01 dl dt{margin-bottom:3px;font:14px  'NanumGBold';color:#fff;}

ul.wright li.wright_01 dl dd{color:#fff}
ul.wright li.wright_01 dl dd span{display:block}
ul.wright li.wright_01 dl dd.w_link{margin-top:30px}
ul.wright li.wright_01 dl dd.w_link a{color:#fff;font-family:'NanumGBold';}
ul.wright li.wright_01 dl dd.w_link a span{font-size:10px;display:inline}

ul.wright li.wright_02 dl{position:absolute;left:5%;top:30%}
ul.wright li.wright_02 dl dt{margin-bottom:3px}
ul.wright li.wright_02 dl dt a{font:14px  'NanumGBold';color:#fff;}
ul.wright li.wright_02 dl dd{color:#fff}
ul.wright li.wright_02 dl dd span{display:block}


ul.wright li.wright_03 dl{position:absolute;left:5%;top:30%}
ul.wright li.wright_03 dl dt{margin-bottom:3px}
ul.wright li.wright_03 dl dt a{font:14px  'NanumGBold';color:#fff;}
ul.wright li.wright_03 dl dd{color:#fff}
ul.wright li.wright_03 dl dd span{display:block}





