.con_txt1{width:729px;height:200px;margin-bottom:30px}
.con_txt1 h4{width:72px; font-size:15px;font-family:"nanumB";margin-bottom:5px}
.con_txt1 p.center03{width:568px;float:left;margin-right:41px;line-height:1.5;}
.con_txt1 img{float:left;width:120px;height:144px}

.con_txt2{width:729px;float:left}
.center_b{width:400px;float:left;}
.con_txt2 h4{font-size:15px;font-family:"nanumB";margin-bottom:5px;}
.con_txt2 li{line-height:1.5}
.con_txt2 p{width:130px;float: right}
