.tableWrap{width:729px;margin-bottom:20px}
.tableWrap table thead th{border:1px solid #cfcfcf;color:#716044;background:#f6f4f0;padding:5px 0 4px 0;}
.tableWrap tbody th{border:1px solid #cfcfcf;color:#716044;background:#f6f4f0;padding:5px 0 4px 0;}
.tableWrap table td{border:1px solid #cfcfcf;text-align:center;padding:3px 5px;line-height:16px;}

ul.txt{margin-bottom:30px}

.guidance{margin-bottom:30px}
.guidance h4{font-size:15px;font-family:"nanumB";margin-bottom:15px}
p.img .top20{margin-top:20px}
