.text_wrap{width:729px}
.text_wrap img{float:left}
.min_tet{float:left;width:448px;font-size:13px;font-family:"nanum";margin:10px 0 30px 30px}
.min_tet p.min_t{margin-bottom:15px;line-height:150%}
.min_tet p.min_right{float:right;font-family:"nanumB";font-size:15px}
