/*visual*/
#visualwrap{width:100%;background:pink;background:url(../images/main/visual_bg.jpg) repeat-x}
.visual{width:1000px;height:392px;margin:0 auto;position:relative;background:url(../images/main/main_vis.jpg) repeat-x}


/*form_sec*/
.form_sec{width:249px;height:196px;position:absolute;top:0;right:0;z-index:300;}
.form_bg{background:#F7F7F7}
.form_sec .tf_keyword{width:130px}
textarea{width:240px;height:140px}
.visual h2{width:249px;height:196px}
#search{width:249px;height:196px;float:right}
/*quck_menu*/
.quck_menu{width:249px;height:392px;background:#F7F7F7;position:absolute;top:0;right:0;z-index:100}
.quck_menu p{position:absolute;top:0;left:-16px}

.quck_left{float:left;width:124px}
.quck_left li{margin:10px 0 20px 10px}

.quck_right{float:left;width:124px}
.quck_right li{margin:10px 0 20px 8px}



/*container*/
#container{margin:0 auto;width:1000px;height:100%}
#container:after{content: "";display: block;clear: both}
/*left 컨텐츠 시작*/
.conleft{width:250px;height:770px;float:left}
.conleft_01{width:250px;height:385px;background:url(../images/main/conleft_01.jpg)}
.conleft_02{width:250px;height:385px;background:url(../images/main/conleft_02.jpg) no-repeat 0 100%}
.conleft_02 dl{padding:30px 0 0 33px}
.conleft_02 dl dt{font-size:18px;padding-bottom:30px}
.conleft_02 dl dt span{color:red}
.conleft_02 p{padding:30px 0 0 33px}


/*center 컨텐츠 시작*/
.concenter{width:500px;height:770px;float:left}

/*center 슬라이드*/
.slide{width:500px;height:385px;background:grey;position:relative}
.slideimg{width:2000px;position:absolute;top:0px;left:0px;z-index:100}
.slideimg li{float:left}
/*center 버튼슬라이드*/
.slidebt li.on{background:#0074BF}
.slidebt{position: absolute;bottom:3px;right:0px;z-index: 200}
.slidebt li{width:9px;height:9px;border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
background:#bfc1bc;float:left;text-indent:-9999em;margin-left:5px}
.playbt{width:11px;height:12px;z-index: 200;position: absolute;top:0;right:0}
.playbt li{float:left}

.box_bt{width:500px;height:385px;}
.box_bt .bt_txt_1{width:250px;height:192px;float:left}
.box_bt .bt_txt_1 dt{font-size:14px}
.box_bt .bt_txt_1 dd{width:200px}
.box_bt .bt_txt_1 dt,.bt_txt_1 dd{margin:30px 0 0 32px;cursor: pointer}


.box_bt .bt_txt_2{width:250px;height:193px;float:left;background:url(../images/main/bt_txt_2_img1.jpg) no-repeat 92% 76%,rgb(234,247,247)}
.box_bt .bt_txt_2 dt{font-size:14px}
.box_bt .bt_txt_2 dt,.bt_txt_2 dd,.bt_txt_2 p{margin:30px 0 0 32px}

.box_bt .bt_txt_3{width:250px;height:193px;float:left;background:#e9e9e1;background:url(../images/main/bt_txt_2_img2.jpg) no-repeat}
.box_bt .bt_txt_3 dt{font-size:14px}
.box_bt .bt_txt_3 dt,.bt_txt_3 dd,.bt_txt_3 p{margin:30px 0 0 32px}

/*right 컨텐츠 시작 */
.conright{width:250px;height:770px;float:left}
.conright_01{width:250px;height:192px;float:left;background:#f6f8f7}
.conright_01 dt{font-size:14px}
.conright_01 dl dt,.conright_01 dl dd{margin:20px 0 0 29px}
.conright_01 dl dd{width:180px}

.conright_02{width:250px;height:192px;float:left;background:url(../images/main/conright_02_img.jpg) no-repeat}
.conright_02 dt{font-size:14px}
.conright_02 dl dt,.conright_02 dl dd{margin:25px 0 0 29px}
.conright_02 dl dd{width:200px}

.conright_03{width:250px;height:192px;float:left}
.conright_03 dt{font-size:14px}
.conright_03 dl dt{font-size:14px}
.conright_03 dl dd{width:220px}
.conright_03 dl dt,.conright_03 dl dd{margin:30px 0 0 29px;cursor: pointer}

.conright_04{width:250px;height:192px;margin-left:29px;float:left;margin-top:15px}
.conright_04 li{width:200px ;margin-bottom:10px;float:left;background:url(../images/main/conright_icon.jpg) no-repeat 0 50%;padding-left:13px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap}
.conright_04 li:hover{text-decoration:underline }

.related{width:1000px;height:20px;margin:auto}
.related ul{float:left;padding:30px 0 30px 0}
.related li{width:100px;height:26px;float:left;margin-right:50px;}
.related ul li.last_margin{margin-right:0px}
