.enterIntro .enterStep.step01{height:94px;background:url(../../images/sub1_3/img_enter_step_01.jpg) no-repeat left 0px #F0F0F0;margin-top:30px}
.enterIntro .enterStep{margin-bottom:15px}
.enterIntro .enterStep h4{padding:25px 0px 15px 120px;}
.enterIntro .enterStep h4 a{color:#295472;font-family:"nanumB";font-size:15px}
.enterIntro .enterStep p{padding:0px 0px 0px 120px}

.enterIntro .enterStep.step02{height:94px;background:url(../../images/sub1_3/img_enter_step_02.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step03{height:113px;background:url(../../images/sub1_3/img_enter_step_03.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step04{height:113px;background:url(../../images/sub1_3/img_enter_step_04.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step05{height:104px;background:url(../../images/sub1_3/img_enter_step_05.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step06{height:113px;background:url(../../images/sub1_3/img_enter_step_06.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step07{height:113px;background:url(../../images/sub1_3/img_enter_step_07.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step08{height:94px;background:url(../../images/sub1_3/img_enter_step_08.jpg) no-repeat left 0px #F0F0F0}
.enterIntro .enterStep.step09{height:148px;background:url(../../images/sub1_3/img_enter_step_09.jpg) no-repeat left 0px #F0F0F0}

.sub_contents p.desc{padding:0 0 }
