.presi{width:699px;height:190px;background:url(../../images/sub1_1/top_bg.jpg) no-repeat;margin:20px 0 50px 20px}
.presi dt{float:left;margin:20px 0 0 20px}
.presi dd{float: left;}
.presi dd.txt1{margin:70px 0 0 10px}
.presi dd.txt1 a{color:#295472;font-size:15px;}
.presi dd.txt2 a{font-size:13px;}
.presi dd.txt2{margin:10px 0 0 10px}


.chief_text p{margin-bottom:20px}
.chief_text .sign{float:right;font-family:"nanumB";}
