.btn_right{width:739px;height:25px; margin-top:30px}
.btn_right a{float:right;margin-left:4px}
.sub_btn_info{width:739px;height:66px;background:#F6F6F6;margin-top:10px}
.sub_btn li{padding:10px 0 2px 20px;float:left}
.sub_btn li span{font-family:"nanumB"}

.searchField:after{content: "";display: block;clear: both}
#search_form{float:right;margin-top:20px}
#search_form p.line{float:left}
.line .btnType{float:left}

.listType.type1{width:729px;margin-top:50px}
.listType.type1 table{width:729px;border-bottom: 1px solid #E6E6E6;border-top:2px solid #295472}
.listType.type1 table thead tr th{padding:14px 0px;border-bottom:1px solid #D2D2D2;background:#F6F6F6}

.listType.type1 table tbody tr.first_sub{background:#F6F6F6;width:73px;height:45px;}
.listType.type1 table tbody tr td.first{padding: 0 0;vertical-align: middle}
.listType.type1 table tbody tr td.first img{}
.listType.type1 table tbody tr td{text-align:center;padding: 10px 0;border-top: 1px solid #E6E6E6}
.listType.type1 table tbody tr td.subject{text-align: left;padding-left: 10px;padding-right: 10px;overflow: hidden;text-overflow: ellipsis}


/*paginate*/
.paginate_complex{padding:40px 0;line-height:normal;text-align:center}
.paginate_complex a,
.paginate_complex strong{display:inline-block;position:relative;z-index:2;margin:0 -3px;padding:1px 8px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus{background-color:#f8f8f8}
.paginate_complex strong{color:#ff8600}
.paginate_complex .direction{border:0;font-weight:normal;color:#767676;text-decoration:none !important;z-index:1}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus{color:#323232;background-color:#fff}
.paginate_complex .prev{border-left:0}
.paginate_complex .next{border-right:0}
.paginate_complex .direction span{display:inline-block;position:relative;top:4px;width:0;height:0;font-size:0;line-height:0;vertical-align:top}



