@charset "UTF-8";
/* reset */body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:'none'}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:'none'}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333}
a{color:#333;text-decoration:none}
a:active,a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/* Background Image */
.num_comm{display:block;overflow:hidden;float:left;width:7px;height:13px;background:url(../images/num_comm.png) no-repeat 0 0;text-indent:-9999px}
.tit_comm{display:block;overflow:hidden;background:url(../images/tit_comm.png) no-repeat 0 0;text-indent:-9999px}
.head_comm{display:block;background:url(../images/head_comm.png) no-repeat 0 0;line-height:45px;text-align:center}
.tab_comm{display:block;height:33px;background:url(../images/tab_comm.png) no-repeat 0 0;font-size:0;line-height:0;text-indent:-9999px}
.ico_comm{display:block;overflow:hidden;background:url(../images/ico_comm.png) no-repeat;text-indent:-9999px}
.int_comm{background:url(../images/search_box.png) no-repeat}

/* layout */
.wrap_main{width:978px;margin:0 auto}
.top_menu{overflow:hidden;margin:20px 0}
.gnb_wrap{height:47px;border-top:2px solid #444a57}
.head_wrap{overflow:hidden}
.cont_main{overflow:hidden}
.main_wrap{overflow:hidden}
.main_news{overflow:hidden;float:left;width:648px;padding:20px 0 28px;border-bottom:2px solid #58595b}

.cont_main .bar_txt{overflow:hidden}
.article_wrap{float:left;width:644px}
.aside_wrap{overflow:hidden;float:right;width:298px;padding-top:33px;border-left:1px solid #c7cbce;border-right:1px solid #c7cbce;background:#fbfbfb}
.etc_wrap{overflow:hidden;padding:30px 0 40px;border-top:2px solid #a1a3a7;border-bottom:2px solid #a1a3a7}
.foot_wrap{overflow:hidden;width:978px;padding:20px 0;text-align:center}
.section_article .headlines_new{float:left;width:343px}
.section_article .today_new{float:right;width:257px}
.link_more{width:40px;height:15px;background-position:100% -72px;font-size:11px;text-indent:0}

/* head */
.top_menu .tit_news{float:left;padding-right:20px}
.top_menu .tit_serviceLogo{width:107px;height:31px;background-position:0 0}
.top_menu .list_service{float:left;padding-top:4px}
.list_service li{float:left;padding-right:10px}
.list_service .link_news{width:43px;height:31px;background-position:-125px 0}
.list_service .linke_ent{width:43px;height:31px;background-position:-175px 0}
.list_service .linke_life{width:62px;height:31px;background-position:-225px 0}
.tab_gnb li{float:left}

/* search */
.top_menu .search_box{float:right}
.search_box .input_box{position:relative;width:310px;}
.input_box .inp_wrap{width:254px;height:31px;padding-left:5px;border:none;background-position:0 0;background-color:transparent;}
.input_box .btn_ico{overflow:hidden;position:absolute;top:0;right:0;width:50px;height:31px;background-position:-260px 0;text-indent:-9999px}

/* GNB */
.gnb_wrap .tab_gnb{overflow:hidden}
.tab_gnb .head_comm{display:block}
.tab_gnb .link_home{width:86px;height:47px;background-position:0 -50px}
.tab_gnb .link_soccer{width:61px;height:47px;background-position:-86px -50px}
.tab_gnb .link_worldsoccer{width:90px;height:47px;background-position:-147px -50px}
.tab_gnb .link_baseball{width:62px;height:47px;background-position:-237px -50px}
.tab_gnb .link_worldball{width:86px;height:47px;background-position:-299px -50px}
.tab_gnb .link_golf{width:62px;height:47px;background-position:-386px -50px}
.tab_gnb .link_basketvolley{width:93px;height:47px;background-position:-448px -50px}
.tab_gnb .link_general{width:56px;height:47px;margin-right:111px;background-position:-541px -50px}
.tab_gnb .link_photo{width:55px;height:47px;background-position:-709px -50px}
.tab_gnb .link_movie{width:57px;height:47px;background-position:-763px -50px}
.tab_gnb .link_column{width:55px;height:47px;background-position:-820px -50px}
.tab_gnb .link_livescore{width:104px;height:47px;background-position:-875px -50px}

/* top_bnr */
.bar_txt .new_trot{padding:12px;border:1px solid #d8d8df;background:#efeff2}
.new_trot .txt_trot{overflow:hidden}
.new_trot .link_breakingnews{float:left;width:67px;height:25px;padding-right:10px;background-position:0 -600px}
.new_trot .view_prompt{overflow:hidden;float:left;position:relative;width:268px;height:25px}
.view_prompt .list_trot{position:absolute;top:6px;left:0}
.list_trot li{height:30px}
.view_prompt .link_item{display:block;float:left;width:214px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap}
.new_trot .txt_info{float:left;padding-top:5px}
.new_trot .info_thumb{padding:0 10px;color:#999}
.new_trot .paging_control{float:left}
.new_trot .link_up{width:15px;height:15px;background-position:0 -650px}
.new_trot .link_down{width:15px;height:15px;background-position:0 -663px}
.new_bnr .area_ad{display:block;width:978px;height:60px}
.bar_txt .new_bnr{position:relative;height:60px;border-bottom:1px solid #b6b9bc}
.new_bnr .obj_ad{display:block;position:absolute;top:-43px;right:116px}
.new_bnr .link_mouse{position:absolute;top:-17px;right:15px;width:47px;height:53px;background-position:0 -700px;background:url(../images/mouse_thumb.png) no-repeat}

/* sports_calendar */
.bar_txt .sports_calendar{position:relative;width:978px;height:84px;border:1px solid #000;background:#303a6d}
.sports_calendar .date_select{float:left;width:128px;height:53px;padding:16px;border-right:1px solid #000}
.date_select .date_game{position:relative;text-align:center}
.date_game .txt_time{font-size:16px;font-weight:bold;color:#c8d3f2;letter-spacing:-1px}
.date_game .link_prev{display:block;position:absolute;top:5px;left:0;width:15px;height:15px}
.date_game .btn_prev{width:7px;height:10px;background-position:0 -475px}
.date_game .link_next{display:block;position:absolute;top:5px;right:-6px;width:15px;height:15px}
.date_game .btn_next{width:7px;height:10px;background-position:0 -500px}
.select_list .link_select{width:117px;height:21px;padding:7px 0 0 7px;border:1px solid #000;background-position:105px -563px;color:#c8d3f2;text-indent:0}
.sports_calendar .wrap_game{overflow:hidden;float:left;position:relative;width:765px;height:86px;padding:0 26px}
.wrap_game .link_prev{display:block;position:absolute;left:0;width:26px;height:45px;padding-top:40px;border-right:1px solid #000}
.wrap_game .btn_prev{width:15px;height:13px;margin-left:10px;background-position:0 -525px}
.wrap_game .link_next{display:block;position:absolute;right:0;width:26px;height:45px;padding-top:40px;border-left:1px solid #000}
.wrap_game .btn_next{width:19px;height:13px;margin-left:8px;background-position:0 -550px}
.wrap_game .box_game{position:absolute;top:0px;left:35px}

/* calendar_btn */
.sports_calendar .highlight_game{background:url(../images/teme_bg02.png) no-repeat 50% 50%}
.sports_calendar .battle_game{background:url(../images/teme_bg03.png) no-repeat 50% 50%}
.sports_calendar .result_game{border-right:none;background:url(../images/teme_bg04.png) no-repeat 50% 50%}

/* inner_game */
.info_game{float:left;position:relative;width:170px;height:71px;padding:7px 10px;border-right:1px solid #000;background:url(../images/teme_bg01.png) no-repeat 50% 50%}
.info_game .tit_info{display:block;width:20px;font-size:9px;color:#7e86aa}
.info_game .num_score{font-size:14px;color:#f4f8fc}
.info_game .txt_num01{position:absolute;top:30px;right:94px;width:28px;height:22px;color:#fff;text-align:center;font-size:12px}
.info_game .txt_num02{position:absolute;top:30px;right:66px;width:28px;height:22px;color:#fff;letter-spacing:-1px;text-align:center;font-size:12px}
.info_game .txt_time{position:absolute;top:13px;left:67px;width:56px;height:14px;font-size:11px;color:#8997d6;letter-spacing:-1px;text-align:center}
.info_game .link_info{position:absolute;left:68px;bottom:15px;width:54px;height:16px;color:#fbebeb;letter-spacing:-1px;text-align:center}
.info_game .txt_team{display:block;overflow:hidden;font-weight:bold;color:#d9dded;text-align:right;padding-right:7px}
.info_game .txt_team2{text-align:left;padding-left:10px}
.info_game .link_thumb{position:absolute;top:20px;left:0px;width:57px;text-align:right}
.info_game .link_thumb2{top:20px;right:0px;left:initial;text-align:left}

.info_game .txt_info{width:54px}
.txt_info .desc_txt{font-size:11px;letter-spacing:-1px}
.main_news .main_thumb{float:left;position:relative}
.link_thumb .txt_live{position:absolute;top:0;left:0;width:50px;height:50px;background-position:0 0}
.main_thumb .info_news{position:absolute;bottom:0;width:347px;height:79px;padding:14px 19px;}
.info_news .box_bg{position:absolute;left:0;bottom:0;width:347px;height:79px;padding:14px 19px;background:#3e4256;opacity:.80;filter:alpha(opacity=80);-ms-filter:"alpha(opacity=90)";z-index:1}
.info_news .news_txt{position:absolute;left:23px;bottom:9px;z-index:2}

.main_thumb .link_thumb{display:block;width:386px;height:323px}
.info_news .link_mainthumb{display:block}
.info_news .tit_main{display:block;width:320px;height:24px;font-size:18px;line-height:20px;color:#fff;letter-spacing:-1px}
.tit_main .txt_live{padding-right:10px;color:#f00}
.info_news .link_cont{line-height:14px;color:#c0c4d6}
.info_news .paging_thumb{position:absolute;top:12px;right:12px;z-index:2}
.paging_thumb .txt_num1{font-size:16px;color:#fff}
.paging_thumb .txt_num{font-size:16px;color:#798090}
.info_news .list_cont{overflow:hidden}
.list_cont .tit_related{float:left;width:50px;margin-bottom:2px;padding-right:5px;padding-left:10px;background-position:0 -50px;color:#809ff7;text-indent:0}
.list_cont li{overflow:hidden}

.opt_league {float:left;position:absolute;z-index:10;left:13px;top:43px;width:120px;font-size:12px;line-height:18px}
.opt_league .link_selected {height:20px;padding:8px 15px 0 5px;background-position:0 -700px;font-size:12px;line-height:12px;text-decoration:none;color:#d5d8ed;text-indent:0}
.opt_league .list_opt {display:none;float:left;position:absolute;left:0;top:27px;width:117px;margin:0;padding:0;border:1px solid #0a1236;background:#303a6e;list-style:none}
.opt_league li .link_option{display:block;overflow:hidden;padding:3px 5px;text-decoration:none;color:#d5d8ed;white-space:nowrap;text-overflow:ellipsis}
.opt_open .list_opt{display:block}

/* list_live */
.main_news .list_live{float:left;height:100%;padding-left:1px}
.list_live li{width:255px;height:107px;margin-bottom:1px}
.list_live li .on{display:none;position:absolute;top:0;left:0;width:251px;height:103px;border:2px solid #6e8feb}
.list_live .link_livethumb{float:left;position:relative;width:100%}
.list_live .sub_txt{float:left;width:136px;height:87px;padding:16px 0 0 10px}
.list_live .lst{margin-bottom:0}
.list_live .desc_txt{display:block;overflow:hidden;height:32px;line-height:16px;letter-spacing:-1px}
.list_live .link_thumb{display:block;width:253px;height:105px}
.list_live .txt_info{display:block;letter-spacing:-1px}
.list_live .list_thumb{float:left}
.list_live li .link_livethumb:hover .on{display:block}

/* section_highlight */
.article_wrap .section_highlight{float:left;width:644px;padding:29px 0;border-bottom:1px solid #737373}
.section_highlight .list_highlight{overflow:hidden}
.section_highlight .tit_today{width:95px;height:13px;margin-bottom:14px;background-position:0 -25px}
.list_highlight li{float:left;width:128px;padding-right:1px}
.list_highlight .info_date{display:block}
.info_date .txt_info{color:#999}
.info_date .num_g{margin:0 3px}
.list_highlight .play_date{position:absolute;bottom:0px;right:0px}
.list_highlight .ico_play{position:absolute;left:8px;bottom:4px;width:11px;height:12px;background-position:0 -100px}
.list_highlight .ico_playstory{width:38px;height:14px;padding-top:1px;font-size:10px;color:#fff;text-align:center;z-index:2;position:absolute;right:0;bottom:0}
.play_date .bg_play{position:absolute;right:0;bottom:0;opacity:.8;filter:alpha(opacity=80);-ms-filter:"alpha(opacity=90)";background:#000;width:38px;height:15px;z-index:1}

.list_highlight .link_highlight{display:block;position:relative;width:128px;height:68px}
.list_highlight .tit_highlight{display:block;height:30px;padding:5px 0;line-height:15px;letter-spacing:-1px}
.list_highlight .last{padding-right:0}

/* headlines_new */
.article_wrap .section_article{float:left;width:644px;padding:30px 0}
.headlines_new .new_cont{margin-bottom:13px;padding-bottom:13px;border-bottom:1px solid #eee}
.new_cont .link_thumb{float:left;width:70px;height:70px}
.new_cont .thumb_txt{float:left;width:262px;height:63px;padding:8px 0 14px 10px}
.new_cont .list_sub{overflow:hidden}
.new_cont .box_thumb{overflow:hidden}
.thumb_txt .tit_thumb{margin-bottom:4px}
.thumb_txt .tit_thumb{display:block;font-size:14px;line-height:16px;letter-spacing:-1px}
.list_sub .link_txt{display:block;overflow:hidden;width:243px;font-size:14px;white-space:nowrap;text-overflow:ellipsis}
.new_cont .desc_thumb{display:block;overflow:hidden;height:30px;line-height:15px;color:#898989;letter-spacing:-1px}
.headlines_new .lst{border-bottom:none}
.new_cont .tit_worldsoccer{width:94px;height:14px;margin-bottom:11px;background-position:0 -75px}
.new_cont .tit_soccer{width:73px;height:14px;margin-bottom:11px;background-position:0 -50px}
.new_cont .tit_baseball{width:94px;height:14px;margin-bottom:11px;background-position:0 -100px}
.new_cont .tit_worldball{width:94px;height:14px;margin-bottom:11px;background-position:0 -125px}
.new_cont .tit_golf{width:73px;height:12px;margin-bottom:11px;background-position:0 -150px}
.new_cont .tit_basketvolley{width:104px;height:14px;margin-bottom:11px;background-position:0 -175px}
.new_cont .tit_general{width:72px;height:14px;margin-bottom:11px;background-position:0 -200px}
.bnr_sports_type1{display:block;width:344px;height:71px}

/* today_photo */
.today_new .today_photo{position:relative;width:258px;margin-bottom:25px}
.today_photo .tit_photo{width:95px;height:13px;margin-bottom:11px;background-position:0 -225px}
.today_photo .link_txt{display:block;overflow:hidden;line-height:15px}
.today_photo .list_photo{overflow:hidden}
.list_photo li{float:left;width:128px;height:150px;padding-right:1px}
.list_photo .link_photo{display:block;position:relative;width:128px;height:125px;padding-bottom:3px}
.today_photo .link_more{position:absolute;top:0;right:0}
.list_photo .more_photo{position:absolute;left:6px;bottom:8px;width:14px;height:12px;background-position:0 -150px}

/* bnr_sports_type2 */
.bnr_sports_type2{display:block;width:257px;height:136px;margin-bottom:25px}

/* today_special */
.today_new .today_special{float:left;position:relative;width:256px;height:195px;margin-bottom:25px}
.today_special .tit_todays{width:78px;height:13px;margin-bottom:11px;background-position:0 -250px}
.today_special .link_more{position:absolute;top:0;right:0}
.today_special .box_special{position:relative}
.box_special .link_special{position:relative;display:block;width:257px;height:171px}

.info_special .box_bg{position:absolute;left:0;bottom:0;background:#3e4256;opacity:.9;filter:alpha(opacity=90);-ms-filter:"alpha(opacity=90)";width:237px;height:13px;padding:7px 10px}
.info_special .txt_special{position:absolute;bottom:2px;left:11px;color:#fff}
.info_special .txt_team{padding-right:7px;color:#809ff7}

/* wrap_sns */
.today_new .wrap_sns{float:left;position:relative;width:258px}
.wrap_sns .tit_sns{width:110px;height:11px;margin-bottom:11px;background-position:0 -275px}
.wrap_sns .list_sns{overflow:hidden}
.list_sns li{float:left}
.list_sns .tab_comm{width:129px;height:36px}
.list_sns .link_fackbook{background-position:0 0}
.list_sns .link_twitter{background-position:-129px 0}
.wrap_sns .cont_sns{width:213px;padding:23px 21px;border:1px solid #cecece;border-top:0 none}
.list_timeline li{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #eee}
.list_timeline .txt_info{display:block;overflow:hidden;height:40px;line-height:20px}
.list_timeline .last{border-bottom:none}
.wrap_sns .wrap_btn{position:absolute;top:0;right:12px}
.wrap_btn .link_twitter{float:left;width:15px;height:15px;padding-right:5px;background-position:0 -175px}
.wrap_btn .link_facebook{float:left;width:15px;height:15px;background-position:0 -200px}
.info_realtime .txt_bar{padding:0 2px}
.info_realtime .ico_twitter{float:left;width:36px;height:14px;padding-left:18px;background-position:0 -224px;color:#999;text-indent:0}
.info_realtime .desc_day{color:#999}

.aside_wrap .sports_column{position:relative;margin-bottom:30px}
.sports_column .tit_column{width:99px;height:13px;margin:0 0 15px 20px;background-position:0 0}
.sports_column .list_column{padding:0 25px;border-top:1px solid #9d9ea3}
.sports_column li{height:66px;margin-top:20px;border-bottom:1px solid #e8e9e9}
.sports_column .link_more{position:absolute;top:0;right:15px}
.list_column .link_column{float:left;width:79px;height:66px}
.list_column .cont_column{float:left;width:160px}
.list_column{overflow:hidden}
.cont_column .txt_column{display:block}
.cont_column .link_txt{display:block;overflow:hidden;height:32px;line-height:16px;font-weight:bold}

/* sports_bnr */
.aside_wrap .bnr_sport_aside{display:block;width:250px;height:250px;margin-bottom:39px;padding:0 25px}

/* issue_rank */
.aside_wrap .area_aside{margin-bottom:20px}
.area_aside .tit_rank{width:71px;height:14px;margin:0 0 6px 24px;background-position:0 -300px}
.area_aside .list_rank{overflow:hidden}
.area_aside .list_rank li{float:left}
.issue_rank .list_rank .link_synthesis{width:99px;background-position:0 -50px}
.issue_rank .list_rank .link_sports{width:99px;background-position:-99px -50px}
.issue_rank .list_rank .link_ent{width:100px;background-position:-198px -50px}
.wrap_cont .list_ranking{overflow:hidden;padding:15px 24px}
.list_ranking li{overflow:hidden;float:left;width:251px;height:20px;line-height:23px}
.list_ranking .link_txt{display:block;overflow:hidden;width:195px;white-space:nowrap;text-overflow:ellipsis}
.list_ranking .link_item{display:block;overflow:hidden;width:195px;white-space:nowrap;text-overflow:ellipsis}
.list_ranking .num1{margin:6px 10px 0 0;background-position:0 0}
.list_ranking .num2{margin:6px 10px 0 0;background-position:0 -25px}
.list_ranking .num3{margin:6px 10px 0 0;background-position:0 -50px}
.list_ranking .num4{margin:6px 10px 0 0;background-position:0 -75px}
.list_ranking .num5{margin:6px 10px 0 0;background-position:0 -100px}
.list_ranking .num6{margin:6px 10px 0 0;background-position:0 -125px}
.list_ranking .num7{margin:6px 10px 0 0;background-position:0 -150px}
.list_ranking .num8{margin:6px 10px 0 0;background-position:0 -175px}
.list_ranking .num9{margin:6px 10px 0 0;background-position:0 -200px}

.list_ranking .num_change{float:left;margin-right:2px}
.list_ranking .rank_change{float:right}
.list_ranking .txt_issue{overflow:hidden;float:left;width:198px;white-space:nowrap;text-overflow:ellipsis}
.wrap_cont .ico_down{width:12px;height:6px;margin:7px 0 0;background-position:100% -250px}
.wrap_cont .ico_up{width:12px;height:6px;margin:7px 0 0;background-position:100% -275px}
.wrap_cont .ico_new{width:22px;height:6px;margin:7px 0 0;background-position:0 -300px}
.wrap_cont .ico_same{width:6px;height:3px;margin:7px 0 0;background-position:0 -325px}

/* comment_new */
.comment_new .tit_comment{width:71px;height:14px;margin:0 0 6px 24px;background-position:0 -325px}
.comment_new .list_rank .link_synthesis{display:block;width:99px;background-position:0 -100px}
.comment_new .list_rank .link_sports{display:block;width:99px;background-position:-99px -100px}
.comment_new .list_rank .link_ent{display:block;width:100px;background-position:-198px -100px}
.area_aside .paging_turn{overflow:hidden;text-align:center}
.paging_turn .inner_paging{display:inline-block}
.paging_turn .btn_prev{float:left;width:15px;height:15px;background-position:0 -350px}
.paging_turn .btn_next{float:left;width:15px;height:15px;background-position:0 -375px}
.paging_turn .num_inner{float:left;padding:0 4px}

/* .view_new */
.view_new .tit_view{width:63px;height:14px;margin:0 0 6px 24px;background-position:0 -350px}
.view_new .list_rank .link_synthesis{width:52px;background-position:0 -150px}
.view_new .list_rank .link_sports{width:53px;background-position:-52px -150px}
.view_new .list_rank .link_worldsoccer{width:70px;background-position:-105px -150px}
.view_new .list_rank .link_baseball{width:53px;background-position:-175px -150px}
.view_new .list_rank .link_worldball{width:70px;background-position:-228px -150px}

/* sports_notice */
.aside_wrap .sports_notice{position:relative;width:298px;margin-bottom:20px}
.sports_notice .tit_notice{width:50px;height:14px;margin:0 0 6px 24px;background-position:0 -375px}
.list_notice .thumb_notice{float:left;width:70px;height:50px}
.sports_notice .list_notice{overflow:hidden;padding:10px 25px;border-top:2px solid #9d9ea3}
.list_notice li{position:relative;text-indent:0}
.sports_main .link_notice{overflow:hidden;display:block;padding:10px 0 0 10px;font-weight:bold}
.list_notice .list_txt{padding-left:9px;background-position:0 -443px;text-indent:0}
.list_notice .sports_main{overflow:hidden;height:50px;margin-bottom:10px}
.list_txt .txt_boun{font-weight:bold}
.sports_notice .link_fulllist{position:absolute;top:0;right:18px;width:53px;height:17px;background-position:100% -72px;font-size:11px;text-indent:0}

/* today_shop */
.today_shop .tit_shop{width:60px;height:14px;margin:0 0 6px 24px;background-position:0 -400px}
.today_shop .list_rank .link_shopping{width:74px;background-position:0 -200px}
.today_shop .list_rank .link_halfprice{width:74px;background-position:-75px -200px}
.today_shop .list_rank .link_coming{width:75px;background-position:-149px -200px}
.today_shop .list_rank .link_cheapest{width:75px;background-position:-223px -200px}
.today_shop .shoppingmall{position:relative;padding:13px 17px 13px 25px}

.shoppingmall .list_mall{overflow:hidden;margin-bottom:40px}
.list_mall .link_shopping{letter-spacing:-1px}
.shoppingmall .list_mall li{float:left;margin-right:4px;white-space:nowrap}
.shoppingmall .list_shop{overflow:hidden;width:268px}
.list_shop li{float:left;width:51px;padding:0 16px 14px 0}
.list_shop .txt_cont{letter-spacing:-1px}
.list_shop .link_shoppingmall{display:block;width:51px;height:82px}

.today_shop .rel_shop{position:absolute;top:60px;left:28px;width:250px;height:18px;background:url(../images/shop_line.png) repeat-x 0 8px}
.rel_shop .page_shop{float:right;padding-left:10px;background:#fbfbfb}
.page_shop .inner_num{float:left;padding-right:4px}
.page_shop .btn_prev{float:left;width:15px;height:15px;background-position:0 -400px}
.page_shop .btn_next{float:left;width:15px;height:15px;background-position:-15px -400px}
.page_shop .btn_plus{float:left;width:15px;height:15px;background-position:0 -425px}

/* etc */
.etc_wrap{overflow:hidden}
.wrap_foot{overflow:hidden;width:868px;margin:0 auto}
.etc_wrap .wrap_sitemap{float:left;width:100px;padding-right:24px}
.etc_wrap .depth1{float:left;padding-left:80px}
.etc_wrap .tit_1depth{line-height:12px;letter-spacing:-1px}
.etc_wrap .list_sitemap{padding-top:5px}
.list_sitemap .link_txt{letter-spacing:-1px}

/* footer */
.foot_wrap .footer_link{width:978px}
