@charset "utf-8";

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,legend{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;line-height:18px;font-family:HelveticaNeue-Light,Helvetica,AppleSDGothicNeo-Regular,"나눔고딕",nanumgothic,sans-serif;color:#252525}
body{position:relative;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
table{border-collapse:collapse}
hr{display:none !important}
legend,.blind,#u_skip{overflow:hidden;position:absolute;left:-999em;width:1px;height:1px;font-size:0;line-height:0}
.sr_only{overflow:hidden;color:rgba(0,0,0,0);white-space:nowrap}
.hidden{visibility:hidden}
select{-webkit-appearance:none}
html{height:100%}

/* style */
.wrap{}
.content img{width:100%}
.box_main{width:100%;height:115px;padding:0 36px;box-sizing:border-box;font-size:17px}
.box_main>a{display:table;width:100%;max-width:320px;height:115px;margin:0 auto}
.box_main>a:after{content:'';display:block;clear:both}
.box_main.item01{background-color:#eeeeee}
.box_main.item02{background-color:#febccb}
.box_main.item03{background-color:#fffdcb}
.box_main.item04{background-color:#c4e8ff}
.box_main.item05{background-color:#e9f3ff}
.box_main.item06{background-color:#fff8e7}
.box_main.item07{background-color:#ffebd8}
.box_main.item08{background-color:#e1faf8}
.box_main.item09{background-color:#fffeff}
.box_main.item10{background-color:#f8f8f8}

.box_main.item01 strong{color:#4d4d4d}
.box_main.item02 strong{color:#ffffff}
.box_main.item03 strong{color:#77acd0}
.box_main.item04 strong{color:#77acd0}
.box_main.item05 strong{color:#7ca3d1}
.box_main.item06 strong{color:#cdb27f}
.box_main.item07 strong{color:#caaf7b}
.box_main.item08 strong{color:#2c9b90}
.box_main.item09 strong{color:#64599d}
.box_main.item10 strong{color:#616161}

.box_main .tit{position:relative;display:inline-block;}
.box_main .tit:before{content:'';position:absolute;left:50%;top:-8px;margin-left:-10px;width:21px;height:1px}
.box_main.item01 .tit:before{background-color:#4d4d4d}
.box_main.item02 .tit:before{background-color:#ffffff}
.box_main.item03 .tit:before{background-color:#77acd0}
.box_main.item04 .tit:before{background-color:#77acd0}
.box_main.item05 .tit:before{background-color:#7ca3d1}
.box_main.item06 .tit:before{background-color:#cdb27f}
.box_main.item07 .tit:before{background-color:#caaf7b}
.box_main.item08 .tit:before{background-color:#2c9b90}
.box_main.item09 .tit:before{background-color:#64599d}
.box_main.item10 .tit:before{background-color:#616161}

.box_main strong{display:table-cell;vertical-align:middle}
.box_main:nth-child(odd) strong{text-align:right}
.box_main:nth-child(8) .tit{margin-left:-10px}
.box_main:nth-child(3) .ico{margin-left:10px}
.box_main:nth-child(5) .ico{margin-left:13px}
.box_main:nth-child(9) .ico{margin-left:20px}
.box_main:nth-child(4) .tit{margin-left:20px}
.box_main:nth-child(3) .tit,
.box_main:nth-child(7) .tit{margin-right:20px}
.box_main:nth-child(5) .tit{margin-right:30px}

.box_main div{display:table-cell;vertical-align:middle}
.box_main .ico{background:url(../img/sp_main.png) no-repeat 0 0;display:block;background-size:105px auto;}
.box_main:nth-child(even) .ico{float:right}
.box_main.item01 .ico{width:82px;height:82px;background-position:0 0}
.box_main.item02 .ico{width:82px;height:82px;background-position:0 -87px}
.box_main.item03 .ico{width:50px;height:64px;background-position:0 -174px}
.box_main.item04 .ico{width:82px;height:83px;background-position:0 -243px}
.box_main.item05 .ico{width:42px;height:61px;background-position:0 -331px}
.box_main.item06 .ico{width:82px;height:82px;background-position:0 -397px}
.box_main.item07 .ico{width:65px;height:57px;background-position:0 -484px}
.box_main.item08 .ico{width:82px;height:82px;background-position:0 -546px}
.box_main.item09 .ico{width:47px;height:67px;background-position:0 -633px}
.box_main.item10 .ico{width:82px;height:82px;background-position:0 -705px}

.btn_open{position:fixed;right:0;top:50%;width:50px;height:50px;background:#848282;border-radius:50%;-webkit-border-radius:50%;margin:-25px -25px 0 0;z-index:10}
.btn_close{position:absolute;left:50%;bottom:0;margin:0 0 -20px -20px;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;background:#848282 url(../img/close.png) no-repeat center center;background-size:13px 13px}
.main_nav{display:none;position:fixed;top:6px;right:6px;bottom:28px;left:6px;background:rgba(0,0,0,0.8);z-index:20}
.nav_header{position:relative;text-align:center;padding:14px 24px 15px;box-sizing:border-box}
.nav_header .line{position:absolute;left:0;right:0;bottom:0;margin:0 auto;width:260px;height:1px;background:#c2c2c2}
.nav_header .line:before{content:'';position:absolute;left:-7px;top:-7px;width:14px;height:14px;background:#c2c2c2;border-radius:50%;-webkit-border-radius:50%}
.nav_header .line:after{content:'';position:absolute;right:-7px;top:-7px;width:14px;height:14px;background:#c2c2c2;border-radius:50%;-webkit-border-radius:50%}
.logo img{width:82px;height:82px;}
.wrap_gnb{max-width:308px;margin:0 auto;padding:31px 0 0 44px}
.gnb>li{position:relative;padding-left:46px;line-height:14px;margin-bottom:14px}
.gnb>li:before{content:'';position:absolute;left:0;top:3px;width:30px;height:8px;background:url(../img/on.png) no-repeat 0 -27px;background-size:30px auto;-webkit-backgroud-size:30px auto;}
.gnb>li.on:before{background-position:0 0}
.gnb>li>a{color:#fff;font-size:14px}

.sub_nav{width:182px;padding-top:15px}
.sub_nav:after{content:'';display:block;clear:both}
.sub_nav li{position:relative;float:left;width:50%;padding-left:10px;box-sizing:border-box;line-height:13px;margin-bottom:10px}
.sub_nav li:before{content:'';position:absolute;left:0;top:3px;width:6px;height:6px;border-radius:50%;-webkit-border-radius:50%;background-color:#fff}
.sub_nav li.on:before{background-color:#db2e4c}
.sub_nav>li a{color:#fff;font-size:13px}
footer{background-color:#343434;color:#dadee3;text-align:center;font-size:11px;padding:24px 0}
footer .copy{margin-top:20px}
footer a{color:inherit}
