/*container*/
#container{margin:0 auto;width:1000px;height:100%}
#container:after{content: "";display: block;clear: both}

#con_left{width:748px;height:718px;float:left;margin:3px 3px 0 0}
.conbt{float: left;margin-top:3px}
.visual{width:748px;height:332px;float:left}

/*컨텐츠왼쪽2개*/
.conbt_left{width:281px;height:386px;float: left;margin-right:3px}
/*컨텐츠 글씨*/
.conbt_left dt{margin:18px 28px}
.conbt_left dt a{color:#fff;font-size:20px;font-family:"nanumB";}
.conbt_left dd{margin:61px 0 0 28px;color:#fff}

.conbtl_1{width:281px;height:278px;background:grey;float: left;margin-bottom:3px;background:url(../images/conbt_left_1.jpg)}
.conbtl_2{width:281px;height:101px;background:blue;float: left;background:url(../images/conbt_left_2.jpg)}
.conbtl_2 dd{margin:20px 0 0 28px;color:#fff}

/*컨텐츠 가운데4개*/
.conbt_right{width:463px;height:386px;float: left}
/*컨텐츠 글씨*/
.conbt_right dt{margin:18px 28px;color:#fff}
.conbt_right dt a{color:#5d5d5d;font-size:20px;color:#fff;font-family:"nanumB";}
.conbt_right dd{margin:20px 0 0 28px;color:#fff}

.conbtr_1{width:463px;height:113px;background:skyblue;float:left;margin-bottom:3px;background:url(../images/conbtr_1.jpg) no-repeat 0 0}
.conbtr_2{width:230px;height:162px;background:yellow;float: left;margin-right:3px;background:url(../images/conbtr_2.jpg) no-repeat 0 0}
.conbtr_3{width:230px;height:162px;background:blue;float: left;background:url(../images/conbtr_3.jpg) no-repeat 0 0}
.conbtr_4{width:463px;height:101px;background:red;float: left;margin-top:3px;background:url(../images/conbtr_4.jpg) no-repeat 0 0}

/*컨텐츠 오른쪽4개*/
#con_right{width:247px;height:619px;float:left;margin-top:3px}
#con_right dt{margin:18px 28px}
#con_right dt a{color:#fff;font-size:20px;font-family:"nanumB";}
#con_right dd{margin:20px 0 0 28px;color:#fff}

.con_r_1{width:247px;height:81px;background:#21BDBB;float: left;background:url(../images/con_r_1.jpg) no-repeat 0 0}
.con_r_2{width:247px;height:101px;background:#32578E;float: left;margin:3px 0 3px 0;background:url(../images/con_r_2.jpg) no-repeat 0 0}
.con_r_3{width:247px;height:425px;background:#FFC300;float: left;margin-bottom:3px;background:url(../images/con_r_3.jpg) no-repeat 0 0}
.con_r_4{width:247px;height:100px;background:#FF4A77;float: left}
