.skip{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0}
.skip:hover,
.skip:active,
.skip:focus{width:100%;height:auto;margin:0;padding:5px 0;font-weight:bold;font-size:12px;font-family:Tahoma;color:#333;line-height:1;text-decoration:none !important;text-indent:10px}
/*skip nav */


/*popup end*/

/*header sector*/
#headerwrap{width:100%;height:104px;background:url(../images/layout/headerbg.jpg) repeat-x 0 0;border-bottom:1px solid red;
overflow:hidden;border-top:2px solid red}
#header{width:1000px;height:104px;margin:auto}
#header .top_hd{width:1000px;height:64px;}
#header .top_hd h1{float:left;margin-top:18px}
#header .top_hd .topmenu{float:right;margin-top:13px}
#header .top_hd .topmenu ul.toplist li{float:left;
margin-left:8px;}
#header .top_hd .topmenu ul.toplist li a{text-transform:uppercase}
/* gnb */
#gnb{margin-left:35px;margin-top:11px}
#gnb li.depth_1{float:left;margin-right:105px;position:relative}
#gnb li.gnb_mn{margin:0px}
#gnb li.depth_1 a{font-size:15px}
#gnb li.depth_1 ul.sub_gnb{position:absolute;left:-50px;top:29px;width:150px;background:#fff;
border-top:1px solid red;padding-top:10px;}
#gnb li.depth_1 ul.sub_gnb li{text-align:center;margin-bottom:10px}
#gnb li.depth_1 ul.sub_gnb li a{font-size:13px}


#gnb li.depth_1 ul.sub_gnb05{left:-25px;top:29px;}








/*footer*/
#footerwrap{width:100%;height:100%;background:#222222}
#footer{width:1000px;height:101px;margin:auto}
#footer h5{float:left;margin-top:20px}
#footer .f_left{margin-left:20px;float:left;margin-top:15px}
#footer .f_left ul{}
#footer .f_left li{float:left;margin-right:5px}
#footer .f_left li a{color:#fff}
#footer .f_left .f_menu_email{margin-bottom:15px}
#footer .f_left address{color:#fff}
#footer .f_left p.copy{color:#fff;font-size:11px;text-transform:uppercase}

#footer ul.snsmenu{float:right;margin-top:15px;margin-right:5px}
#footer ul.snsmenu li{float:left;margin-left:10px}
#footer ul.snsmenu li a{color:#fff}
