/*popup sector*/
.popupwrap{width:100%;height:26px;background:black;background:rgba(0,0,0,0.6);
padding-top:5px;position:fixed;z-index:5000}
.popupwrap p{width:1000px;height:31px;margin:auto;
text-align:center;}
.popupwrap p a{color:#fff}

p a.pop_close{margin-left:50px;background:#fff;display:inline-block;padding:1px;
width:30px;height:18px;color:black}
/*visual sector*/
.visual{width:100%;height:406px;background:black}
.visual img{width:100%;height:406px;}
/*tapinfo*/

.tapwrap{width:100%;height:214px;
background:url(../images/main/tapbg.jpg) repeat-x 0 0;
margin-bottom:53px;border-bottom:1px solid #ededed;}
.tapinfo{width:1000px;height:193px;margin:auto;
position:relative;}

.tapinfo ul.tap_m li.tap_m_li{float:left;
width:82px;height:34px;

text-align:center}
.tapinfo ul.tap_m li.on{
	border-left:1px solid #d2d2d0;
	border-right:1px solid #d2d2d0;
	background:#fff
}
.tapinfo ul.tap_m li.tap_m_li a{line-height:31px}
.tapinfo ul.tap_s{width:1000px;position:absolute;
left:0;top:64px}
.tapinfo ul.tap_s li{float:left;width:150px;height:93px;background:green;
margin-right:20px}
.tapinfo ul.tap_s li.mn{margin:0}
.tapinfo ul.tap_s li a.tab_info{color:#959595}



/*container sector*/

#container{width:100%;height:100%;}
#contents{width:1000px;height:100%;margin:auto;
margin-bottom:35px}

#contents p.more{width:49px;background:url(../images/main/plus.jpg) no-repeat right 59%;
position:absolute;right:0;top:0;}
.bt_top{width:1000px;height:192px;margin-bottom:35px}
.bt_bt{width:1000px;height:250px}

.bt_top h4{font-size:16px;color:#515151;
font-family:'NanumGBold';text-transform:uppercase}
.bt_top h4 p{margin-bottom:3px}
.bt_top h4 span{font-size:12px;color:#898989;
font-family:'NanumG';}

/*news start*/
.bt_top .news{float:left;width:255px;height:192px;
position:relative;margin:0 28px;}
.bt_top .news h4{margin-bottom:23px;
}

.bt_top .news .news_list li{margin-bottom:20px}
.bt_top .news .news_list li a{}
.bt_top .news .news_list span{float:right}

/*news end*/

.bt_top .c_date{float:left;width:438px;height:192px;
position:relative;}

.bt_top .c_date dl{width:438px;height:116px;
margin-top:30px;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.bt_top .c_date_list dt{float:left;width:59px;height:57px;
background:#ebebeb;text-align:center;border-top:1px solid #e1e1e1} 
.bt_top .c_date_list dt a{line-height:50px}
.bt_top .c_date_list dd{float:left;width:160px;height:57px;
text-align:center;border-top:1px solid #e1e1e1} 
.bt_top .c_date_list dd a{line-height:50px}

/*date end*/
.bt_top .ban_slide{float:left;width:250px;height:192px;
position:relative;background:#e7e7e7}

.bt_top .ban_slide .slide_bt{position:absolute;right:1px;top:0px;
z-index:3000}
.bt_top .ban_slide .slide_bt li{float:left;
width:15px;height:15px;background:#abb2bc;text-align:center;
line-height:12px;margin-right:1px}
.bt_top .ban_slide .slide_bt li a{color:#fff}
.bt_top .ban_slide .slideimg li{position:absolute;left:0;top:0;display:none}
.bt_top .ban_slide .slide_bt li.bton{background:#222222}

/*bt start*/
.bt_bt h4{font-size:16px;color:#515151;
font-family:'NanumGBold';text-transform:uppercase}
.bt_bt h4 p{margin-bottom:3px}
.bt_bt h4 span{font-size:12px;color:#898989;
font-family:'NanumG';}


/*slide end*/

.bt_bt .app_banner{float:left;width:438px;height:192px;
background:pink;position:relative;background:url(../images/main/app_background.jpg) no-repeat 0 0;
padding-top:34px;}
.bt_bt .app_banner dl.app_ban{position:absolute;
left:69px;bottom:15px;text-align:center}
.bt_bt .app_banner dt{font-size:15px;color:#868485;
text-align:center;font-family:'NanumGBold';
margin-bottom:15px}
.bt_bt .app_banner dt span{display:block;line-height:23px}
.bt_bt .app_banner dd{float:left;
margin-right:22px;}
.bt_bt .app_banner dd.app_mn{margin:0;}





/*webzine start*/
.bt_bt .webzine{float:left;width:255px;height:192px;
margin:0px 1px 0px 1px;position:relative;margin:0 28px;
background:#e7e7e7;
padding-top:34px}
.bt_bt .webzine h4{margin-left:16px;}
.bt_bt .webzine h4 span{display:block}

.bt_bt .webzine ul{position:absolute;left:16px;top:93px}
.bt_bt .webzine ul li{float:left;
width:68px;height:87px;background:red;margin-right:10px}

.bt_bt .webzine ul li.wz_01 a{background:url(../images/main/webzine_1.jpg) no-repeat 0 0;width:68px;height:87px;}
.bt_bt .webzine ul li.wz_02 a{background:url(../images/main/webzine_2.jpg) no-repeat 0 0;width:68px;height:87px;}
.bt_bt .webzine ul li.wz_03 a{background:url(../images/main/webzine_3.jpg) no-repeat 0 0;width:68px;height:87px;}
 

.bt_bt .webzine ul li.webzine_mn{margin:0}
#contents .bt_bt .webzine p.more{top:33px;right:16px;}





.bt_bt .story{float:left;width:250px;height:192px;
background:#e7e7e7;padding-top:34px;position:relative}
.bt_bt .story h4{margin-left:16px;}
.bt_bt .story .video_info a{width:224px;height:88px;
background:url(../images/main/video_img.jpg) no-repeat 0 0;
margin:19px 0 0 14px}
#contents .bt_bt .story p.more{top:33px;right:16px;}





/*sitemap*/
.sitemapwrap{width:100%;height:268px;background:url(../images/main/sitemapbg.jpg) repeat-x 0 0;
border-top:1px solid #eaeaea}
.sitemap{width:1000px;height:268px;margin:auto}
.f_banner{width:1000px;height:58px;}
.f_ban_link{width:471px;float:left}
.f_banner .f_ban_link li{float:left;padding-right:30px;
margin-right:30px;height:58px;line-height:57px}
.f_banner .f_ban_link li.f_ban_01{background:url(../images/layout/footer_icon01.jpg) no-repeat right 50%;}
.f_banner .f_ban_link li.f_ban_02{background:url(../images/layout/footer_icon02.jpg) no-repeat right 50%;}
.f_banner .f_ban_link li.f_ban_03{background:url(../images/layout/footer_icon03.jpg) no-repeat right 50%;}

.f_map_main{margin-top:11px;}
.f_map_main li.f_map_m{float:left;width:166px;
text-align:center;}
.f_map_main li.f_map_m a{font:13px 'NanumGBold';color:#222222;}
.f_map_main .f_map_m .f_map_sub{display:block;
margin-top:22px;}
.f_map_main .f_map_m .f_map_sub li{margin-bottom:11px;}
.f_map_main .f_map_m .f_map_sub li a{font:12px 'NanumG';color:#878787;text-transform:uppercase}


/* familysite form*/

.f_banner .selector{width:200px;height:30px;
position:relative;float:right;margin-top:15px}
.f_banner .selector .title{display:block;height:30px;
border:1px solid #ccc;color:#333;font-size:12px;
font-weight:bold;line-height:30px;padding-left:15px;
background:url(../images/main/family_arrow.jpg) no-repeat 95% 55%;
text-transform:uppercase
}
.f_banner .selector .list{position:absolute;width:100%;overflow-y:scroll;height:120px}

.f_banner .selector .list li a{display:block;height:30px;border:1px solid #ccc;color:#333;font-size:12px;
font-weight:bold;line-height:30px;padding-left:15px;margin-top:-1px;background:#fff;}