.container1_01{background:url(../images/sub1/content_bg.jpg) no-repeat 0 50px;}
.scon_top01{width:1000px;height:300px;
background:url(../images/sub1/building.png) no-repeat 50% 20px;
border-bottom:1px solid #efefef}
.sub_title{font-size:23px;color:#3e4146;float:left;margin-top:90px;
text-decoration: underline}
.sub_title span{font-family:'NanumGBold';}
.sub_tit_text{float:right;margin-top:90px;
border-top:2px solid #555555;width:255px;padding:15px 0 0 15px}
.sub_tit_text span{font-size:16px;display:block;
width:206px;line-height:22px;text-align:justify;}
.scon_middle{width:100%;height:100%;padding-top:40px}
.sub01list{float:left;width:240px;background:url(../images/sublayout/list_bg.jpg) no-repeat 0 0;}
.sub01list dt{font:15px/20px 'NanumGBold';;height:36px;margin-bottom:15px;padding-top:145px;}
.sub01list dt span{display:block;}
.sub01list dd{text-align:justify}
.mr{margin-right:13px}
.ml{float:right}

/* background insert */

.list01 dt{background:url(../images/sub1/list01.jpg) no-repeat 0px 10px;}
.list02 dt{background:url(../images/sub1/list01.jpg) no-repeat 0px 10px;}
.list03 dt{background:url(../images/sub1/list01.jpg) no-repeat 0px 10px;}
.list04 dt{background:url(../images/sub1/list01.jpg) no-repeat 0px 10px;}


/* sub02.html */

.sub_tit_text02 span{width:215px;margin-left:8px;}
.history_tab{margin-bottom:50px}
.history_tab li{float:left}
.history_tab li a{text-transform:uppercase;font-size:17px;padding-right:10px;margin-right:10px;
color:#7A7A79}
.history_tab li.active_tab a{color:#FF0000;font-weight:600}

.history_contents{margin-top:80px}
.history_box{margin-bottom:40px}
.history_box:after{clear:both;content:"";display:block}
.history_box dt{float:left;width:150px;height:30px;font-size:20px;font-weight:600;padding-top:15px;
background:url(../images/sublayout/history_icon.jpg) no-repeat 0 0;}
.history_box dd{float:left;text-align:left;color:#4C4C4C}
.history_box dd ul li{text-align:left;height:30px;color:#4C4C4C}
