@charset "utf-8";
.ov_h {
    overflow: hidden
}

html,body {
    height: 100%
}
#header {
    width: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    height: 45px;
    position: fixed;
    top: 0px;
    left: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    z-index: 999
}
#header.nav_open {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px)
}

#header .fixed {
    position: fixed
}

@media only screen and (min-width: 768px) {
    header {
        height:70px
    }
}

#header .auction,#header button.auction {
    background: none;
    display: inline-block;
    width: 80px;
    padding:3px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    line-height: 24px;
    position:absolute;
    left:10px;
    top:6px;
    font-size:12px;
}

#header .logo {

}

#header .logo img {
    width:51px;
    margin-top:5px;
}

#header button.menu {
    position: absolute;
    right: 1%;
    top: 0;
    background: none;
    border: none;
    display: inline-block;
    width: 56px;
    height: 100%;
    text-indent: -999em;
    overflow: hidden
}

.menu_icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 35px;
    height: 3px;
    background-color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-raidus: 10px;
    -o-border-radius: 10px
}

.menu_icon:before,.menu_icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-raidus: 10px;
    -o-border-radius: 10px
}

.menu_icon:before {
    bottom: 10px
}

.menu_icon:after {
    top: 10px
}

.open_menu .menu_icon {
    background-color: rgba(255,255,255,0)
}

.open_menu .menu_icon:before,.open_menu .menu_icon::after {
    background-color: #fff
}

.open_menu .menu_icon:before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.open_menu .menu_icon:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#contents {
    background: #fff;
    min-height: 100%;
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent
}

#contents.nav_open {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}

#dim {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 990
}

#dim.nav_open {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background: rgba(0,0,0,0.8);
    display: block
}

@media only screen and (min-width: 768px) {
    #contents {
        overflow-y:auto
    }
}

.nav_sec {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 999;
    width: 260px;
    background-color: #f7f7f7;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s,visibility 0 .4s;
    -moz-transition: -moz-transform .4s 0s,visibility 0 .4s;
    transition: transform .4s 0s,visibility 0 .4s;
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px)
}

.nav_sec a.gnb_1dep:before {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome!important;
    color: #ef6074;
    padding-right: 10px;
    text-rendering: auto
}

.nav_sec a.submenu-open.gnb_1dep:before {
    content: "\f106";
    font: normal normal normal 14px/1 FontAwesome!important;
    color: #ef6074;
    padding-right: 10px
}

.nav_sec a.submenu-open.gnb_1dep {
    font-weight: 700
}

.nav_sec a.gnb_1dep {
    background: #fff;
    color: #6a747c;
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    margin-bottom: 1px;
    height: 46px;
    line-height: 46px
}

.nav_sec .sub_menu {
    padding: 10px 10px 0 15px;
    display: none
}

.nav_sec .sub_menu li a {
    height: 40px
}

.nav_sec .sub_menu li a:before {
    content: "\2012";
    color: #eaa4ae;
    margin-right: 10px
}

.nav_sec a {
    display: block;
    line-height: 2em;
    padding: 0 16px;
    color: #6a747c
}

.nav_sec a.current {
    background-color: #3a4a4d;
    color: #FFF
}

.nav_sec.nav_open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s,visibility 0 0;
    -moz-transition: -moz-transform .4s 0s,visibility 0 0;
    transition: transform .4s 0s,visibility 0 0;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px
}

.nav_sec .snb {
    width: 250px;
    margin: 0 auto;
    margin-top: 10px
}

.nav_sec .snb li {
    width: 33.3%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    height: 60px;
    background: #fff;
    color: #6a747c;
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    margin-bottom: 3px;
    overflow: hidden
}

.nav_sec .snb li a {
    padding: 10px 0 0;
    display: inline-block;
    width: 100%
}

.nav_sec .snb li:nth-child(1) a:before {
    content: "\f05a";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.nav_sec .snb li:nth-child(2) a:before {
    content: "\f041";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.nav_sec .snb li:nth-child(3) a:before {
    content: "\f095";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.nav_sec .snb li:nth-child(4) a:before {
    content: "\f086";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.nav_sec .snb li:nth-child(5) a:before {
    content: "\f27b";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.nav_sec .snb li:nth-child(6) a:before {
    content: "\f086";
    display: block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome!important
}

.login_before {
    background: url(../img/common/menu_after.gif) no-repeat 0 0;
    padding-top: 20px;
    background-size: cover;
    padding-bottom: 20px
}

.login_before p {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    line-height: 24px
}

.login_before p strong {
    font-weight: 700
}

.login_before .before_bt {
    text-align: center
}

.login_before .before_bt button,.login_before .before_bt a {
    width: 84px;
    height: 29px;
    padding: 0;
    display: inline-block;
    background: #ef6074;
    color: #fff;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px
}

.member {
    background: url(../img/common/menu_after.gif) no-repeat 0 0;
    padding-top: 20px;
    background-size: cover;
    padding-bottom: 8px
}

.member .welcome {
    width: 240px;
    margin: 0 auto;
    height: 100%;
    border-bottom: 1px solid rgba(256,256,256,0.6);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.member .welcome p {
    color: #fff;
    display: inline-block;
    float: left;
    line-height: 27px
}

.member .welcome button {
    float: right;
    width: 76px;
    height: 27px;
    background: #ef6074;
    display: inline-block;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px
}

.member .my_page h2 {
    width: 183.6px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px
}

.member .my_page h2:before {
    content: "\f107";
    font-family: 'FontAwesome'!important;
    color: #ef6074;
    font-size: .9em;
    margin-right: 5px;
    vertical-align: middle
}

.member .my_page button {
    background: none;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer
}

.member .my_page ul {
    width: 90%;
    margin: 0 auto;
    background: rgba(256,256,256,0.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    display: none
}

.member .my_page ul li a {
    color: #fff
}

.member .my_page ul li a:before {
    content: "-";
    margin-right: 10px;
    color: #eaa4ae
}

.nav_sec #footer {
    text-align: center;
    margin-top: 9px;
    padding: 7px 0 5px
}

.nav_sec #footer .bt_wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 10px
}

.nav_sec #footer .bt_wrap button {
    display: inline-block;
    background: none;
    border: 1px solid #BDC3C7;
    width: 70px;
    padding: 6px 0 5px;
    color: #BDC3C7
}

.nav_sec #footer .bt_wrap a {
    display: inline-block;
    width: 70px!important;
    border: 1px solid #BDC3C7;
    padding: 0!important;
    box-sizing: border-box;
    color: #BDC3C7
}

.nav_sec #footer .bt_wrap button,.nav_sec #footer .bt_wrap a {
    border-radius: 5px
}

.nav_sec #footer p {
    font-size: .8em
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    25% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    50% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    75% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    25% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    50% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    75% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}
