.presi{width:699px;height:190px;background:url(../../images/sub1_1/top_bg.jpg) no-repeat;margin:20px 0 50px 20px}
.presi dt{float:left;margin:20px 20px 0 20px}
.presi dd{}
.presi dd.txt1{padding:15px 0 0 20px}
.presi dd.txt1 a{color:#295472;font-size:15px;}
.presi dd.txt2 a{font-size:13px;}
.presi dd.txt2{margin:10px 0 0 10px}


.chief_text p{margin-bottom:20px}
.chief_text .sign{float:right;font-family:"nanumB";}

.con_pro1{width:739px;margin-left:21px;margin-bottom:55px}
.con_pro1 h3{font-size:15px;;margin-bottom:10px;font-family:"nanumB";}
.con_pro1 ul li{margin-bottom:7px;padding-bottom:3px;background:url(../../images/sub1_2/dot.jpg) repeat-x 0 100%;width:700px}
.con_pro1 ul li span{color:#295472;font-family:"nanumB";}
.con_pro1 ul li a{padding-left:10px}
