.tableType h3{color:#295472;font-family:"nanumB";font-size:15px;margin:50px 0 20px 0}

.tableType.type0{width:739px;}
.tableType.type0 table{width:739px;border-top:1px solid #295472}
.tableType.type0 table thead th{background:#EBEBEB;border-bottom:1px solid #295472;padding:5px 0px;line-height: 150%;vertical-align: middle} 

.tableType.type0 tbody tr{border-bottom:1px solid #D2D2D2}
.tableType.type0 th.thBg{background:#F6F6F6}
.tableType.type0 table tbody th.normalTxt{padding: 16px 9px;}
.tableType.type0 table tbody td{padding: 3px 9px;border-style: solid;border-color: #D2D2D2;vertical-align: middle;text-align: center;}
.tableType.type0 tr th.firstCell{border-right:1px solid #fff}

.desc{width:739px;margin:10px 0 40px 0}
.desc li{padding-left:11px;margin-bottom:10px;line-height:160%}

.listType{margin-bottom:30px}
.listType ul li{font-family:"nanumB"font-size:15px}
