.synopsis{width:739px;height:355px;background:url(../../images/sub1_7/sub_bg.jpg) repeat-x;margin-top:40px;padding:39px 0 0 0px}
.synopsis h4{font-size:20px;margin:10px 0 2px 30px;color:#324B8C;line-height: 150%;font-family:"nanumB";}
.synopsis p{color:#505050;line-height: 150%;margin:0 0 0 30px;width:682px}

.tableType{width:739px;}
.tableType table{border-top:1px solid #324B8C}
.tableType table thead tr.tr_1 th{width:739px;background:#EBEBEB;border-bottom:1px solid #324B8C}
.tableType table tbody td{text-align:center}
.willbeUpdate div{width:739px;height:150px;background:#324B8C;margin-top:10px;color:#fff;font-size:14px;padding-top:156px}
