/*visual*/
.visualwrap{width:100%;height:435px}


.visualwrap img{width:100%;height:435px}


/*visual vie*/
.imglist{position: absolute;top:0px;left:0px}
.imglist li{float:left}
/*visual버튼*/



/*container*/

h3{font-size:15px}
#container{margin:auto;width:1000px;height:100%}
#container:after{content: "";display: block;clear: both}



/*contop*/
.contop{width:1000px;height:100%;float: left;margin-top:20px;margin-bottom:28px;position: relative}


.contop_1{width:1000px;height:120px;float:left;border:1px solid #d7d7d7}
.contop_1 ul{margin-top:24px;margin-left:49px;position: absolute;top:0px;left:0px}
.contop_1 ul li{float: left;width:63px;height:57px;text-align: center;margin-left:60px}

/*가운데 버튼*/
.s_left{width:16px;height:26px;position: absolute;top:45px;left:2px}
.s_right{width:16px;height:26px;position: absolute;top:45px;right:0px}


/*conbottom*/

.conbottom{width:1000px;height:100%;float: left;}
.conleft{width:320px;height:311px;float:left}
.concenter{width:320px;height:311px;float:left;margin-left:20px}
.conright{width:320px;height:311px;float:left;margin-left:20px}




/*위 컨텐츠 공통*/

.cl_0{width:328px;height:100px;margin-bottom:30px}
.cl_0 dl{margin:35px 0 20px 40px}
#container dd.txt{font-size:15px;}
.cl_0 dt{float: left;margin-right:20px;}


.cc_0{width:328px;height:100px;margin-bottom:30px}
.cc_0 dl{margin:35px 0 20px 40px}
.cc_0 dt{float: left;margin-right:20px}

.cr_0{width:328px;height:100px;margin-bottom:30px}
.cr_0 dl{margin:35px 0 20px 40px}
.cr_0 dt{float: left;margin-right:20px}




/*탭메뉴*/
.cl_1{width:328px;height:160px}
.cl_1 ul{position:relative;margin:0;padding:0;border-bottom:1px solid #ccc;font-family:Tahoma, Sans-serif;font-size:12px;list-style:none;}
.cl_1 ul:after{display:block;clear:both;content:""}
.cl_1 li{float:left;margin-bottom:-1px}
.cl_1 li a{float:left;position:relative;border:1px solid #eee;border-bottom-color:#ccc;background:#fafafa;color:#666;text-decoration:none}
.cl_1 li a span{display:inline-block;padding:6px 25px 6px 25px;letter-spacing:-1px;cursor:pointer}
.cl_1 li ul{display:none;position:absolute;top:40px;left:0;width:100%;margin:0;padding:0;border:0;list-style:none;}
.cl_1 li ul:after{display:block;clear:both;content:""}
.cl_1 li li{float:none;position:relative;margin:0 0 8px 0;color:#999}
.cl_1 li li a{float:none;margin:0;padding:0;border:0 !important;background:transparent;font-weight:normal;color:#666 !important;letter-spacing:normal}
.cl_1 li li a:hover,
.cl_1 li li a:active,
.cl_1 li li a:focus{color:#000 !important;text-decoration:underline}
.cl_1 li li.more{position:absolute;top:-30px;right:0;border:0 !important;background:transparent}

.cl_1.m1 .m1 a,
.cl_1.m2 .m2 a{margin-top:-1px;border:1px solid #ccc;border-bottom:1px solid #fff;background:transparent;color:#333}
.cl_1.m1 .m1 a span,
.cl_1.m2 .m2 a span{padding-top:7px;font-weight:bold}
.cl_1.m1 .m1 ul,
.cl_1.m2 .m2 ul{display:block}


/*이미지 슬라이드*/
.cc_1{margin:0 auto;width:328px;height:160px;position: relative}
.cc_1 ul{width:1312px}
.r_view{position: relative}
.r_view li{float:left}


.r_botton{position:absolute;left:0;top:0}
.r_botton li.on{background:#0074BF;bottom:10px;left:0px}
.r_botton li{width:15px;height:15px;text-align: center;vertical-align: middle;float:left;border:1px solid #d7d7d7;padding-bottom:5px;margin-left:5px}


/*세로메뉴*/
.cr_1{width:328px;height:160px}
.cr_1 dt{width:328px;height:30px;line-height:30px;text-indent:10px;border-top:1px solid #000; display:block; color:#000!important;text-decoration:none!important; }
.cr_1 dd{width:328px;height:30px;color:#d7d7d7;display:none}
.cr_1 dd p{width:328px;height:30px;padding:7px 20px}
.cr_1 dl dt.on{background:#d7d7d7;color:#333}
.cr_1 p{color:#000}
